.europe-mine {
  background-color: #373737;

  .condition-timepicker {
    background-image: linear-gradient(to right, #2b313d 14%, #111520 85%);
    margin: 0;
  }

  &-content {
    padding: 10px 13px;
  }

  .cart-item-total .result-ticket {
    background-image: linear-gradient(to right, #2b313d 14%, #111520 85%);
  }

  .cart-item-total .result-ticket-header,
  .result-ticket-footer,
  .result-ticket-footer span:first-child {
    border-color: #373737;
  }
}
