.nb_BettingHistorytime {
  height: 0.88rem;
  line-height: .88rem;
  width: 100%;
  font-size: .3rem;
  color: rgba(255, 255, 255, .5);
  background: #3F4045;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.nb_BettingHistorytime>input {
  flex: 0 1 50%;
  height: 100%;
  border: 0 none;
  background: none;
  font-size: .3rem;
  color: rgba(255, 255, 255, .5);
  text-align: center;
}

input::-webkit-calendar-picker-indicator {     
  border: 0 none;
  border-radius: 2px;
  background: none;
  color: #666;
}

.nb_BettingHistorytime span {
  width: .4rem;

}



.nb_BettingHistorypagebox {
  width: 100%;
  padding: 0 .2rem;
}
.nb_BettingHistorypagetit {
  width: 100%;
  line-height: 0.8rem;
  text-align: left;
  font-size: .3rem;
  color: rgba(255, 255, 255, .5);
}
.nb_BettingHistorypage {
  width: 100%;
  padding: .2rem;
  background-image: linear-gradient(-90deg, #FFFFFF 0%, #F1F1F1 98%);
  box-shadow: 0 2px 12px 0 rgba(0,0,0,0.10);
  border-radius: 10px;
  text-align: left;
  position: relative;
  margin-bottom: .2rem;
}
.nb_BettingHistorypage h3 {
  line-height: .6rem;
  color: #333;
  font-size: .4rem;
}
.nb_BettingHistorypage p {
  line-height: .5rem;
  color: #666;
  font-size: .26rem;
}
.nb_BettingHistorypager {
  height: 0.6rem;
  line-height: 0.6rem;
  position: absolute;
  top: 50%;
  margin-top: -.3rem;
  right: .2rem;
  padding-right: .36rem;
  color: #999999;
  font-size: .32rem;
}
.nb_BettingHistorypager span {
  width: .28rem;
  height: 0.28rem;
  position: absolute;
  right: 0;
  top: 50%;
  font-size: .28rem;
  margin-top: -0.14rem;
  color: #C0C0C0;
}
.nb_BettingHistorypagegreen {
  font-size: .4rem;
  color: #7CCD5D;
}
.nb_BettingHistorypagered {
  font-size: .4rem;
  color: #FF4A4A;
}
/* 暂无匹配的投注历史 */
.nb_BettingHistorywu {
  margin: 4.2rem auto;
  text-align: center;
  font-size: .3rem;
  color: rgba(255, 255, 255, .7);
  display: none;
}