.match-panel {
  height: 100%;
  overflow: hidden;
  margin: 0 -10px;
  padding: 0 10px;
  display: grid;
  grid-template-columns: 1fr 350px;
  grid-gap: 10px;
  &.betable {
    display: grid;
    grid-template-columns: 1fr 350px;
    grid-gap: 10px;
  }
}