// @font-face{
//   font-family: "DIN";
//   src: url(../fonts/DIN-Medium.ttf);
// }

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  font-size: .13rem;
  font-family: "DIN", "PingFang SC", "Roboto", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
}