.europe-single {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px 40px;
  padding: 20px 30px;

  &-eliminate {
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;

    .group-list:first-child {
      grid-row-start: 1;
      grid-row-end: 4;
      ul li {
        height: 62px;
      }
    }
    .group-list:not(:first-child) {
      .group-list-header {
        margin-bottom: 0;
      }

      ul li {
        margin-bottom: 0 !important;
      }
    }
  }

  .icon-team-for-ec21 {
    margin-right: 10px;
  }

  .group-list ul li {
    border-radius: 4px;

    &:nth-child(odd) {
      margin-bottom: 6px;
    }
  }

  .group-list-header {
    margin-bottom: 8px;
  }

  .competitor {
    flex: 1.5;
    display: flex;
    align-items: center;
    padding-left: 20px;

    &-team {
      display: flex;
      min-width: 100px;

      img {
        margin-right: 10px;
      }

      p {
        max-width: 112px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    span {
      font-size: 30px;
      color: #494c53;
      text-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
      margin: 0 40px;
    }

    &-info {
      display: flex;
      align-items: center;
      flex: 1;

      button, span {
        text-align: center;
        flex: 1;
      }

      .state {
        color: #0dbf18;

        &-done {
          color: #afafaf;
        }

        &-active:after {
          background-color: #be1414;
        }
      }

      .operate a {
        display: inline-block;
        min-width: 65px;
        min-height: 35px;
        border-radius: 19px;
        border: 1px solid #f1cf91;
        color: #f1cf91;
      }

      .operate.extra_score a {
        line-height: 20px;
        span {
          font-size: 13px;
        }
      }
      .operate.done a {
        cursor: unset;
        border: none;
      }
    }
  }
}
