.annou-bar {
  position: relative;
  display: grid;
  grid-template-columns: 40px 1fr 18px;
  align-items: center;
  height: 40px;
  margin: 15px 10px 0;
  padding: 0 10px;
  border-radius: 4px;
  background-color: var(--tour-background-color);
  color: var(--first-color);
  box-shadow: var(--base-box-shadow);
  img {
    width: 15px;
    height: 15px;
  }
  .am-carousel {
    height: 40px !important;
  }
  &::before {
    content: "";
    position: absolute;
    left: 35px;
    top: 50%;
    display: block;
    width: 1px;
    height: 30px;
    background-color: #a8a8aa;
    transform: translateY(-50%) scale(.5);
  }
  .annou-bar-item {
    color: var(--option-label-color);
    font-size: 13px;
    line-height: 40px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}