.europe-option-button {
  button {
    padding: 5px 10px;
    color: #f9f9f9;
  }
  &.noBetting {
    button {
      cursor: unset;

      &, span {
        color: #6f6f6f !important;
      }
    }
  }

  &.checked {
    button {
      border-radius: 35px;
      background-image: linear-gradient(to right, #e2b271 0%, #f6d99d);

      &, span {
        color: #653302!important;
      }
    }
  }
}