
.layout_form .form_field_wrap .form_field .input_wrap input::-webkit-input-placeholder {
    color: #818791 !important;
}
.layout_form .form_field_wrap .form_field .input_wrap input:-moz-placeholder {
    color: #818791 !important;
}
.layout_form .form_field_wrap .form_field .input_wrap input::-moz-placeholder {
    color: #818791 !important;
}
.layout_form .form_field_wrap .form_field .input_wrap input:-ms-input-placeholder {
    color: #818791 !important;
}
.layout_form .form_field_wrap .form_field .input_wrap input, 
.layout_form .form_field_wrap .form_field .input_wrap option {
    padding: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    font-size: 1.6rem;
    color: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.layout_form {
    padding-top: 20px;
}
.layout_form .form_field_wrap {
    padding: 0 0 0 15px;
    background: #292d36;
    border-top: 1px solid #36364c;
    border-bottom: 1px solid #36364c;
}
.layout_form .form_field_wrap .form_field {
    position: relative;
    height: 42px;
    line-height: 42px;
    font-size: 1.6rem;
    border-bottom: 1px solid #303236;
}
.layout_form .form_field_wrap .form_field:last-child{
    border: 0;
}
.layout_form .form_field_wrap .form_field .label{
    display: block;
    float: left;
    color: #fff;
}
.layout_form .form_field_wrap .form_field .input_wrap {
    margin: 0 0 0 115px;
    padding: 0 15px 0 0;
    height: 100%;
}
.layout_form .form_field_wrap .form_field .input_wrap.sm{
    margin: 0 0 0 70px;
}
.layout_form .form_btn-wrap{
    margin-top: 27px;
    padding: 0 15px;
}

.personaldata_content .layout_form .form_field_wrap{
    border-top: 1px solid #36364c;
    border-bottom: 1px solid #36364c;
}
.personaldata_content .layout_form .form_field_wrap .form_field{
    height: 51px;
    line-height: 51px;
    border-bottom: 1px solid #36364c;
}
.personaldata_content .layout_form .form_field_wrap .form_field:last-child{
    border: 0;
}
.personaldata_content .layout_form .form_field_wrap .form_field .input_wrap .spn_value{
    margin-right: 15px;
}
.personaldata_content .layout_form .form_field_wrap .form_field .input_wrap .icon{
    margin-bottom: -3px;
}
.personaldata_content .layout_form .form_field_wrap .form_field .input_wrap .codeInput{
    width: 119px;
    height: 31px;
    background: #23262f;
    text-align: center;
}
.personaldata_content .layout_form .form_field_wrap .form_field .input_wrap .reservedInfo span{
    background: #23262f;
    height: 31px;
    line-height: 31px;
    padding: 8px 21px;
}
.personaldata_content .layout_form .form_field_wrap .form_field .sendCode.with_border:before{
    content:'';
    position: absolute;
    left:-20px;
    height: 31px;
    border-left: 1px solid #36364c;
}
.personaldata_content .layout_form .form_field_wrap .form_field .sendCode{
    color: #fff;
    width: 119px;
    height: 31px;
    line-height: 31px;
    position: absolute;
    top: 9px;
    right: 15px;
    border: 1px solid #808791;
    border-radius: 300px;
    text-align: center;
    font-size: 1.3rem;
}
.personaldata_content .layout_form .form_field_wrap .form_field .optional{
    color: #818791;
    height: 31px;
    line-height: 31px;
    position: absolute;
    top: 9px;
    right: 15px;
    text-align: center;
    font-size: 1.3rem;
}
.personaldata_content .layout_form .form_field_wrap .form_field .sendCode.active-btn{
    border: 0;
    background: #1473d8;
    background: -webkit-linear-gradient(left, #1473d8, #4d90de);
    background: -o-linear-gradient(left, #1473d8, #4d90de);
    background: -moz-linear-gradient(left, #1473d8, #4d90de);
    background: linear-gradient(left, #1473d8, #4d90de);
}
.personaldata_content .layout_form .notif{
    text-align: center;
    margin-top: 16px;
}
.personaldata_content  .date-choose{
    padding-right: 20px !important;
    width: 96% !important;
    height: 92.8% !important;
    border: none !important;
    outline: none !important;
    background: url(../__static/__images/icons/chevron_right.png) !important;
    background-repeat: no-repeat !important;
    background-size: 7px 13px !important;
    background-position: 100% 50% !important;
    color: #818791 !important;
    font-size: 1.3rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    top: -2px;
    right: -5px;
    direction: rtl;
    box-sizing: border-box;
}
.personaldata_content #emailText.lbue2{
    width: 93%;
    position: relative;
    left: -5px;
}
.personaldata_content #emailText + a{
    position: relative;
    left: 4px;
}