.block-title {
  display: flex;
  height: 45px;
  padding: 0 10px;
  font-size: 12px;
  align-items: center;
  color: var(--secondary-color);
  label {
    flex-grow: 1;
    font-size: 15px;
    line-height: 15px;
    color: var(--home-label-color);
  }
  span {
    line-height: 12px;
  }
  svg {
    color: var(--arrow-color);
  }
}