.announce {
  &-header {
    position: sticky;
    top: 0;
    display: flex;
    height: 45px;
    line-height: 45px;
    font-size: 18px;
    background-color: var(--app-background-color);
    color: var(--first-color);
  }

  &-list {
    padding: 10px;

    &-card {
      height: auto;
      background-color: var(--tour-background-color);
      border-radius: 4px;
      margin-bottom: 10px;

      .tit,
      .content,
      > a {
        padding: 0 10px;

      }

      .tit {
        display: flex;
        justify-content: space-between;
        line-height: 40px;
        font-size: 15px;

        span:last-child {
          font-size: 13px;
          color: #888888;
        }
      }

      .content {
        font-size: 14px;
        color: #888888;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      > a {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid var(--border-color);
        height: 45px;
        color: #aaaaaa;
        margin-top: 15px;
      }
    }
  }
}