.combo-list {
  max-height: calc(100vh - constant(safe-area-inset-bottom) - 460px);
  max-height: calc(100vh - env(safe-area-inset-bottom) - 460px);
  overflow-y: auto;
  .cart-item {
    border-bottom: 1px solid #121212;
    padding: 5px 10px;
  }
  &-item-enter {
    opacity: 0;
  }
  &-item-enter-active {
    opacity: 1;
    transition: opacity 200ms ease-in;
  }
  &-item-exit {
    opacity: 1;
  }
  &-item-exit-active {
    opacity: 0;
    transition: all 200ms ease-in;
  }
}
.combo-info {
  display: flex;
  height: 30px;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  color: #888888;
  box-shadow: 0 1.5px 5px rgba(0,0,0,.6) ;
  background-color: #181818;
}
.combo-tab {
  position: sticky;
  top: 0;
  display: flex;
  background-color: #181818;
  align-items: flex-end;
  &-item {
    font-size: 12px;
    position: relative;
    width: 75px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #181818;
    border: 1px solid #1e1e1e;
    margin: 0 3px;
    transition: all 200ms ease-in;
    &-active {
      background-color: var(--tour-background-color);
    }
  }
  &-cross {
    position: absolute;
    right: -7px;
    top: 50%;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    line-height: 14px;
    border-radius: 50%;
    background-color: rgba(255,255,255,.3);
    transition: transform 200ms ease-in;
  }
}
.combo-bet-area {
  background-color: #181818;
}