.cart {
  background-color: var(--block-background-color);
  border-radius: 4px;
  color: var(--first-color);
  padding-bottom: 10px;
  font-size: 12px;

  .empty {
    width: 350px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    span {
      margin-top: 10px;
    }
  }

  .bet-odds-change {
    display: inline-block;
    &.upper, &.lower {
      position: relative;
      animation: blink 1s linear;
      animation-iteration-count: 2;
    }

    &.upper {
      span {
        color: #FF4A4A;
        &::after {
          content: '';
          position: absolute;
          top: 0;
          width: 0;
          height: 0;
          border-width: 6px;
          border-style: solid;
          border-color: transparent transparent #FF4A4A transparent;
        }
      }
    }
    &.lower {
      span {
        color: #7CCD5D;
        &::after {
          content: '';
          position: absolute;
          top: 8px;
          width: 0;
          height: 0;
          border-width: 6px;
          border-style: solid;
          border-color:#7CCD5D transparent transparent transparent;
        }
      }
    }
  }

  @keyframes blink {
    from,
    50%,
    to {
      opacity: 1;
    }
    25%,
    75% {
      opacity: 0;
    }
  }
  .top-right-dot {
    &::after {
      position: absolute;
      top: 7px;
      right: -5px;
      content: '';
      width: 6px;
      height: 6px;
      background-color: #FF4D4F;
      border-radius: 50%;
    }
  }
}
