@mainFontColor: #fff;
@mainBgColor: #2E2F34;

@optionFontColor: #53FFFD;
@optionFontActiveColor: #fff;

@optionBgColor: transparent;
@optionsBgActiveColor: #53C0FF;

@panelBgColorStart: #494B50;
@panelBgColorEnd: #38393D;

@navBarBgColor: #57595E;

@sportsBarBgColor: #3F4045;