.condition-timepicker {
  margin: 0 12.5px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #d4d4d4;
  height: 35px;
  line-height: 35px;
  padding: 0 10px;
  border-radius: 4px;
  background-color: var(--block-background-color);
  img {
    margin-left: 8px;
    transform: translateY(1px);
  }
}
