.anno-detail {
  max-width: 1420px;
  padding-bottom: 20px;
  margin: 0 auto;
  height: 100%;
  &-container {
    height: calc(100vh - 150px);
    background-color: var(--block-background-color);
    color: var(--deep-light-color);
    padding: 0 110px;
    .title {
      height: 100px;
      line-height: 100px;
      text-align: center;
      font-size: 24px;
      border-bottom: 1px solid var(--ticket-tr-border-bottom);
    }
    .content {
      padding: 20px 0;
      line-height: 24px;
      font-size: 13px;
    }
    .time {
      float: right;
    }
  }
}