<template id="contentTmpl">
    <div class="main_content">
        <section class="record_content">
            <table id="container">
                <thead v-if="list && list.length">
                    <tr>
                        <td colspan="2">时间</td>
                        <td>金额</td>
                        <td>状态</td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in list">
                        <td @click="itemSelect($event)">
                            <input type="checkbox" v-bind:value="item.request_id"><label></label>
                        </td>
                        <td>
                            {{Date.format(Date.parse(item.created_date), 'MM-dd')}}<br/>
                            {{Date.format(Date.parse(item.created_date), 'HH:mm')}}
                        </td>
                        <td>
                            <span class="yellow2">{{item.amount}}元</span>
                            <br/>
                            <span>{{getXMName(item.xm_type)}}</span>
                        </td>
                        <td>
                            <span class="lbue2">{{status(item.flag)}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="delete-bx" v-if='list.length!=0'>
                <div class="item">
                    <div class="item-select-all">
                        <input class="select-item-cb" type="checkbox" name="" value="" />
                        <label @click='allSelect'></label>
                    </div>
                    <div class="sub-item txt-bx">
                        <h3 v-if="list && list.length">总计: {{totalAmount}} 元</h3>
                    </div>
                    <div id="deleteAllButton" @click="del" class="sub-item txt2-bx button">
                        <h3>删除</h3>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>
<script type="text/javascript">
appState.setData({
    title: '洗码记录',
    needLogin: true
});
Vue.component("app-content", {
    template: "#contentTmpl",
    data: function() {

        return {
            list: [],
            date_start: '',
            date_end: '',
            page_num: '1',
            page_size: '5',
            total: 0,
            days: ''
        };
    },
    computed: {
        totalAmount: function () {
            if(!this.list && !this.list.length) {
                return 0;
            }

            if(this.list.length == 1) {
                return this.list[0].amount;
            }

            return this.list.reduce(function (preItem, currItem) {
                return {amount: +preItem.amount + +currItem.amount}
            }).amount.toFixed(2);
        }
    },
    beforeMount: function() {
        var _this = this;
        _this.days = $.getParam('days', 1);
        _this.days = parseInt(_this.days) || 1;

        var between = dateTool.getBetweenByDays(_this.days);
        _this.date_start = between[0];
        _this.date_end = between[1];
    },
    mounted: function() {
        var _this = this;
        JSBridge.onReady(function() {
            $.once(function() {
                $('#container').dropload({
                    scrollArea: window,
                    domDown: {},
                    loadDownFn: function(me) {
                        JSBridge.net.invoke({
                            url: "logs/xm?XDEBUG_SESSION_START",
                            data: {
                                'date_start': _this.date_start,
                                'date_end': _this.date_end,
                                'page_num': _this.page_num,
                                'page_size': _this.page_size
                            },
                            success: function(result) {
                                console.log(result.list);
                                if (result.list.length > 0) {
                                    for (var i in result.list) {
                                        _this.list.push(result.list[i]);
                                    };
                                    $('.dropload-down').hide();
                                    _this.page_num++;
                                } else {
                                    me.lock();
                                    me.noData();
                                }
                                me.resetload();
                            },
                            error: function() {
                                me.resetload();
                            }
                        });
                    }
                });
            });
        });
    },
    methods: {
        status: function(flag) {
            return {
                "0": "待审核",
                "2": "已批准",
                "-3": "已拒绝"
            }[flag];
        },
        getXMName: function(type) {
            var list = {
                'XM131': '沙巴体育',
                'XM146': '虚拟体育',
                'XM326': 'AG国际真人厅',
                'XM33': 'AG旗舰厅',
                'XM335': 'MG真人厅',
                'XM336': 'AG电投厅',
                'XM339': 'PT真人厅',
                'XM343': 'OPUS真人厅',
                'XM36': '波音厅',
                'XM38': 'HG厅',
                'XM39': 'EA厅',
                'XM44': 'AG快乐彩',
                'XM527': 'TTG电游厅',
                'XM535': 'MG电游厅',
                'XM539': 'PT电游厅',
                'XM543': 'OPUS电游厅',
                'XM526': 'AG国际电游厅',
                'XM826': 'AG国际捕鱼',
                'XM56': '波音电游厅',
                'XM744': '德州扑克',
                'XM644': '雀神麻将',
                'XM126': 'AG国际体育',
                'XM551': 'BSG电游厅',
                'XM944': '牛牛',
            };
            return list[type];
        },
        itemSelect: function(e) {
            if ($(e.currentTarget).hasClass("item-select")) {
                $(e.currentTarget).removeClass("item-select");
                $(e.currentTarget).find("input[type='checkbox']").prop("checked", false);
            } else {
                $(e.currentTarget).addClass("item-select");
                $(e.currentTarget).find("input[type='checkbox']").prop("checked", true);
            }
        },
        allSelect: function(e) {
            var $obj = $(e.currentTarget);
            if ($obj.prev().prop('checked')) {
                $obj.prev().prop('checked', false);
                $('#container input').prop('checked', false);
            } else {
                $obj.prev().prop('checked', true);
                $('#container input').prop('checked', true);
            }
        },
        del: function() {
            var ids = [];
            var _this = this;
            $("input[type='checkbox']:checked").each(function() {
                ids.push($(this).val());
            })
            if (ids.length == 0) {
                $.toast.fail("没有可删除的选项");
                return
            }
            JSBridge.net.invoke({
                url: "logs/del",
                data: {
                    'ids': ids.join(','),
                    'type': '04'
                },
                success: function(result) {
                    if (result) {
                        $.toast.success("删除成功", function() {
                            JSBridge.forward.inside({ url: 'customer/log_xm.htm?days=' + _this.days, newView: true });
                        });
                    }
                },
                error: function() {
                    $.toast.fail("删除失败");
                }
            });
        }
    }
});
</script>