.home-matchs {
  background-color: var(--block-background-color);
  border-radius: 4px;
  margin-top: 10px;
}

.home-match-item {
  border-top: 2px solid var(--app-background-color);
  .list-market-title {
    border-bottom: 1px solid var(--app-background-color);
  }
}