.market-list {
  .ant-collapse {
    font-size: 12px;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    & > .ant-collapse-item {
      & > .ant-collapse-header {
        padding: 0 20px;
        height: 45px;
        line-height: 45px;
        color: #333;
        background-color: var(--block-background-color);
        border-bottom: 0px;
      }
      & > .ant-collapse-content {
        background-color: var(--match-bet-color);
        color: var(--first-color);
        .ant-collapse-content-box {
          padding: 0;
        }
      }
    }
  }
}