.app-footer {
  line-height: 30px;
  background-color: #171717;
  color: var(--first-color);
  font-size: 12px;
  text-align: center;
  a:hover {
    color: #e5c6a3;
    text-decoration: underline;
  }
}