.agyy-sign {
  padding: 80px 20px 0;
  .welcome-text {
    text-align: center;
    font-size: 14px;
    color: #909090;
    letter-spacing: 0px;
    line-height: 20px;
    margin-bottom: 20px;
  }
  button {
    margin-top: 60px;
    width: 260px;
  }
}