.register {
  .am-tabs-default-bar {
    background-color: transparent!important;
    width: 50% !important;
  }
  .acc-header {
    display: flex;
    font-size: 16px;
    color: #aaaaaa;
    line-height: 40px;
    margin-bottom: 15px;
    padding-left: 12.5px;
    > div {
      margin-right: 20px;
      &.active {
        font-size: 18px;
        color: #e0c28d;
      }
    }
  }
}