.ysbContainer {
  height: 100%;
  width: 100%;
  .entrance {
    font-size: 16px;
    button {
      margin: 0 5px;
      &.active {
        color: var(--high-light-color);
      }
    }
  }
  iframe {
    height: 100%;
    width: 100%;
  }
}