.app-header {
  display: flex;
  align-items: center;
  padding: 0 20px;
  background-color: #121212;
  .tab-menu,.app-logo,.right-menus{
    flex: 1;
    display: inline-flex;
  }
  .tab-menu{
    justify-content: center;
  }
  .right-menus{
    justify-content: flex-end;
  }
}