.acc-footer {
  a {
    color: var(--highlight-color);
  }
  &.forget-register {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
  }
  &.login {
    text-align: center;
  }
}