.tours {
  height: 55px;
  margin-bottom: 10px;
  width: 100vw;
  ul {
    display: grid;
    padding: 0 10px;
    grid-column-gap: 5px;
    li a {
      display: grid;
      grid-template-columns: 25px 1fr;
      grid-column-gap: 10px;
      align-items: center;
      width: 150px;
      height: 55px;
      padding: 0 15px;
      overflow: hidden;
      font-size: 14px;
      background-color: var(--tour-background-color);
      border-radius: 4px;
      img {
        border-radius: 50%;
      }
    }
  }
}
