
  .right-bar {
    margin: 0 -10px;
    padding-left: 10px;
    max-height: 100%;
    overflow: hidden;
    &-content {
      border-radius: 4px;
      width: 350px;
      height: calc(100% - 50px);
      overflow: hidden;
      &:hover {
        overflow:hidden overlay;
      }
    }
  }
