.nav-bar {
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: var(--app-background-color);
  display: flex;
  align-items: center;
  height: 45px;
  font-size: 18px;
  color: var(--first-color);
  .nav-content {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 45px;
  }
}