.j9-dialog.credit-password-dialog  .ant-modal-content .ant-modal-body {
  p {
    text-align: left;
  }
  .input-item {
    grid-template-columns: 100px 1fr;
  }
  .single-submit {
    margin-top: 30px;
  }
}