.ec21pp-container {
  background-image: url(./images/pc-bg@2x.jpg), linear-gradient(to bottom, rgba(3, 15, 33, 0.31) 17%, rgba(3, 15, 33, 0.86) 44%, rgba(3, 15, 33, 0.96) 96%);
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #050D19;
  min-width: 960px;
  overflow: hidden auto;
  background-attachment: local;
  padding-bottom: 60px;
  .ec21pp-banner {
    position: relative;
    height: 250px;
    width: 860px;
    margin: 0 auto;
    background-image: url(./images/pc-wing@2x.png), url(./images/mobile-flag@2x.png), url(./images/mobile-flag@2x.png);
    background-size: 860px 195px, 187px 120px, 187px 120px;
    background-position: 0px 10px, 95px 118px, 588px 118px;
    background-repeat: no-repeat;
    button {
      position: absolute;
      top: 118px;
      display: flex;
      align-items: flex-start;
      width: 187px;
      height: 120px;
      font-size: 22px;
      font-weight: 400;
      color: #fff;
      padding-top: 20px;
      &::after {
        content: "";
        position: absolute;
        bottom: 25px;
        display: block;
        width: 30px;
        height: 30px;
        background-color: #e3a19e;
        border: 4px solid #bc1a13;
        border-radius: 50%;
      }
      &.mode1-button {
        left: 95px;
      }
      &.mode2-button {
        left: 588px;
      }
      &.active {
        color: #ebba73;
        &::after {
          background-color: #ebba73;
        }
      }
    }
  }
  .ec21pp-content {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .loading-bar {
    height: 50vh;
  }
  .ec21pp-match-item {
    border-radius: 6px;
    overflow: hidden;
    .ec21pp-match-info {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      align-items: center;
      background-color: #1d2b37;
      border-bottom: 2px solid rgba(188, 26, 19, .57);
      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 150px;
        padding-top: 15px;
        &:nth-child(2) {
          padding-top: 30px;
        }
        .icon-team-for-ec21 {
          border: solid 4px rgba(234, 234, 234, 0.27);
          background-color: #d8d8d8;
          background-clip: content-box;
        }
        label {
          font-size: 16px;
          color: #929292;
          margin-top: 10px;
        }
        span {
          font-size: 16px;
          color: #6d6d6d;
          line-height: 18px;
          var {
            padding: 0 5px;
            color: #e2b271;
            font-size: 18px;
            font-weight: 500px;
            font-style: normal;
          }
        }
        time {
          margin-top: 10px;
          font-size: 16px;
          color: #929292;
        }
        & > a, & > var {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          border: 1px solid #e2b271;
          color: #ebba73;
          height: 26px;
          padding: 0 15px;
          margin-top: 15px;
          border-radius: 13px;
          font-style: normal;
        }
        & > var {
          filter: grayscale(1)
        }
      }
    }
    .ec21app-statistics {
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      padding: 5px 0 10px;
      height: 106px;
      overflow: hidden;
      background-color: #0f1b2d;
      transition: all .2s linear;
      header, section {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        label {
          padding-left: 13px;
          color: #929292;
          font-size: 14px;
        }
        span {
          text-align: center;
          color: #d9d9d9;
          font-size: 17px;
        }
        &.prize span {
          color: #ebba73;
        }
      }
    }
  }
  .ec21pp-group-matchs {
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-column-gap: 3vw;
  }
  .block-container {
    position: relative;
    min-height: 50px;
    border-radius: 6px;
    overflow: hidden;
    color: #929292;
    .block-header {
      position: absolute;
      top: 0;
      left: 50%;
      z-index: 2;
      transform: translateX(-50%);
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: auto;
      min-width: 170px;
      height: 28px;
      padding: 0 10px;
      border-bottom-left-radius: 14px;
      border-bottom-right-radius: 14px;
      border: solid 1px #0f1b2d;
      border-top: 0;
      background-color: #bc1a13;
      color: #e1e1e1;
      font-size: 15px;
      white-space: nowrap;
      b {
        padding: 0 3px;
      }
    }
  }
  .group-match-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2.5vw 3vw;
    grid-template-rows: max-content;
  }
  .group-match-description {
    font-size: 14px;
    label {
      color: #fff;
      padding: 10px 0;
    }
    li {
      line-height: 20px;
      list-style-type: decimal;
      list-style-position: inside;
      padding: 2px 0;
    }
    .single-rules {
      background-color: #1d2b37;
      padding: 40px 17px 15px 20px;
      border-bottom: 4px solid rgba(188, 26, 19, .57);
    }
    .common-rules {
      background-color: #0f1b2d;
      padding: 25px 17px 15px 20px;
    }
  }

  .eliminate-matchs {
    display: grid;
    grid-template-columns: 1fr 600px;
    grid-column-gap: 3vw;
    .eliminate-match-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 2.5vw 3vw;
    }
    .ec21pp-pool {
      .block-header {
        height: 45px;
        font-size: 16px;
        padding: 0 20px;
        b {
          font-size: 20px;
        }
      }
      .bonus-list {
        background-color: #1d2b37;
        padding: 60px 40px 30px;
        border-bottom: 4px solid rgba(188, 26, 19, .57);
        > li {
          & > label {
            display: flex;
            align-items: flex-end;
            color: #bdbdbd;
            font-size: 17px;
            b {
              font-size: 30px;
              line-height: 36px;
              padding: 0 10px;
              color: #ebba73;
              font-weight: 500;
            }
            img {
              height: 29px;
              width: 25px;
              margin-right: 5px;
            }
          }
          & > ol {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 1px;
            border-radius: 6px;
            overflow: hidden;
            box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.5);
            margin: 10px 0 20px;
            li {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              background-color: #0f1b2d;
              height: 60px;
              span {
                color: #ebba73;
                font-size: 20px;
              }
            }
          }
        }
      }
      .eliminate-description {
        background-color: #0f1b2d;
        padding: 20px 40px;
        font-size: 15px;
        label {
          color: #fff;
          margin-bottom: 5px;
          font-size: 17px;
        }
        li {
          list-style-type: decimal;
          list-style-position: inside;
        }
      }
    }
  }
}

@media screen and (max-width: 1700px) {
  .ec21pp-container {
    .ec21pp-group-matchs {
      grid-column-gap: 2vw;
    }
    .group-match-list {
      grid-gap: 1.5vw 2vw;
    }
    .eliminate-matchs {
      grid-template-columns: 2fr 1fr;
      grid-column-gap: 2vw;
      .eliminate-match-list {
        grid-gap: 1.5vw 2vw;
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  .ec21pp-container {
    .ec21pp-group-matchs {
      grid-column-gap: 3vw;
    }
    .group-match-list {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 2.5vw 3vw;
    }
  }
}

@media screen and (max-width: 1440px) {
  .ec21pp-container .eliminate-matchs .eliminate-match-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 1340px) {
  .ec21pp-container {
    .ec21pp-group-matchs {
      grid-column-gap: 2vw;
    }
    .group-match-list {
      grid-gap: 1.5vw 2vw;
    }
    .eliminate-matchs {
      grid-template-columns: 1fr 450px;
    }
  }
}

@media screen and (max-width: 1280px) {
  .ec21pp-container {
    .ec21pp-group-matchs {
      grid-column-gap: 3vw;
    }
    .group-match-list {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 2.5vw 3vw;
    }
  }
}

@media screen and (max-width: 1180px) {
  .ec21pp-container .eliminate-matchs .eliminate-match-list {
    grid-template-columns: 1fr;
  }
}