.phone-verify {
  display: flex;
  .custom-input {
    flex: 1;
  }
  .acc-custom-input {
    border-radius: 3px 0 0 3px;
  }
  button {
    width: 100px;
    height: 40px;
    background-image: linear-gradient(to left, #f4d699,#e3b574);
    border-radius: 0 3px 3px 0;
    color: #707070;
    &.disabled {
      background: #707070;
      color: #d4d4d4;
    }
  }
}