.icon-other-score {
  display: inline-block;
  height: 16px;
  & > i {
    display: inline-block;
    width: 10px;
    height: 16px;
    border-radius: 1px;
    &.yellowCard {
      background-color: #ffd200;
    }
    &.redCard {
      background-color: #ff3636;
    }
    &.h1 {
      background-color: #ccc;
    }
  }
}