.dark {
  // 网页背景颜色 各种元素边框也使用此颜色
  --app-background-color: #222;
  // 各块背景颜色
  --block-background-color: #333;
  // 浅色背景
  --light-background-color: #ccc;
  // 一级文字颜色
  --first-color: #999999;
  // 高亮文字颜色
  --high-light-color: #e5c6a3;
  // 深色字体颜色
  --deep-light-color: #999;
  // 模块标题
  --block-title-color: #e5c6a3;
  // 深色背景色
  --deep-background-color: #bfa676;
  // 金色字体颜色
  --gold-color: #e5c6a3;
  // 比赛列表隔行换色（odd）
  --match-odd-color: #3b3b3b;
  // 详情下注按钮背景色
  --match-bet-color: #3b3b3b;
  // 边框颜色
  --border-color: #3b3b42;
  // 筛选按钮字体色
  --filter-font-color: #e5c6a3;
  // 筛选按钮背景色
  --filter-background-color:  #3c3c3c;
  // 筛选边框色
  --filter-border-color: #3c3c3c;
  // 筛选虚线颜色
  --filter-border-dash-coror: #3c3c3c;
  // 偏好按钮颜色
  --prefer-switch-color: #f4d598;
  // 偏好按钮背景色
  --prefer-switch-background-color: #9a8762;
  // 偏好保存按钮颜色
  --prefer-save-color: #f4d598;
  // 投注tab栏颜色
  --cart-background-color: #2c2c2c;
  // 收藏星星颜色
  --favorite-start-color: #333;
  // 收藏按钮背景色
  --favorite-button-color: #2c2c2c;
  // ant-collapse 颜色
  --ant-collapse-light-color: #3b3b3b;
  // ant-collapse 颜色
  --ant-collapse-even-color: #3b3b3b;
  //ant-collapse-border-color
  --ant-collapse-border-color: #222;
  // 我的注单表头颜色
  --ticket-thead-background-color: #393939;
  // 我的注单tr下划线颜色
  --ticket-tr-border-bottom: #393939;
  // 我的注单统计隔行换色
  --ticket-total-odd: #333333;
  // 下拉选择边框色
  --drop-border-color: #2d2d2d;
  // 投注背景色
  --bet-background-color: #3b3b3b;
  //滚动条颜色
  --scrollbar-thumb-color: rgba(255,255,255,.5);
  // 滚动条hover颜色
  --scrollbar-thumb-hover: rgba(255,255,255,.7);
  // 比赛列表边框色
  --match-list-border-color: #222;
  // 比赛背景色
  --match-list-background-even: #2b2b2b;
  // 比赛背景色
  --match-list-background-odd: #363636;
  // 搜索栏右边icon颜色
  --search-bar-icon: #fff;
  // 元素高亮阴影
  --item-hl-box-shadow: 0 0 7px 3px rgba(255, 255, 255, .15);
  // 投注项高亮阴影
  --option-hl-box-shadow: inset 0 0 8px 2px rgba(255, 255, 255, .1);
  // 按钮渐变背景
  --btn-linear-gradient: linear-gradient(to right, #e5c6a3, #deba91);
  // 视频等待按钮背景
  --btn-video-waiting-background: #444;
  // 比赛详情多媒体切换栏背景颜色
  --media-tab-background: #2c2c2c;
  // 搜索结果文字高亮颜色
  --search-high-light-color: #bd2b27;
  // 优惠详情文字颜色
  --promo-detail-color: #999;
  // 活动时间高亮颜色
  --promo-time-color: #222;
  // 活动时间高亮颜色
  --promo-time-background-color: #e5c6a3;
  // 展开更多背景颜色
  --sport-more-background-color: #505050;
  //会员中心用户信息背景
  --member-info-bg: url(../../components/member/MemberInfo/images/info-bg@2x.jpg) center center/100% 100%;
  // 会员中心用户名称颜色
  --member-info-color: #fff;
  // 会员中心用户名称二级颜色
  --member-info-sub--color: #e1e1e1;
  // 会员中心余额颜色
  --member-balance-color: #ebba73;
  // 红色渐变对应金色渐变的
  --colorful-linear-gradient: linear-gradient(to right, #e2b271 0%, #f6d99d);
  // 红色渐变对应金色渐变的left
  --colorful-linear-gradient-left: linear-gradient(to left, #e2b271 0%, #f6d99d);
  // 渐变字体颜色
  --colorful-color: #5c3301;
  // 边框颜色
  --colorful-border-color: #deb682;
  // 会员中心高亮颜色
  --member-highlight-color: #ebba73;
  // 额度转换按钮
  --transfer-btn-background: linear-gradient(to bottom, #61616f, #32323c);
  // 设置块级背景色
  --setting-block-background: rgba(30, 30, 36, 0.4);
  // 设置块级阴影
  --setting-block-box-shadow: none;
  // 设置块级渐变
  --setting-block-linear-gradient: linear-gradient(to top, #232323, #333333);
  // 设置块级字体色
  --setting-block-color: #e1e1e1;
  // 设置块级二级字体色
  --setting-block-sub-color: #a8a8aa;
  // 返回按钮颜色
  --back-btn-color: #e1e1e1;
  // 返回标题色
  --back-title-color: #a8a8a8;
  // 谷歌步骤颜色
  --google-step-color: #e5e5e5;
  // 谷歌步骤颜色
  --google-step-sub-color: #b4b4b8;
  // 谷歌二维码背景色
  --google-block-background-color: #2a2a32;
  // 输入框背景色
  --input-background-color: #1f1f1f;
  // 输入框边框色
  --input-border-color: #434343;
  // 用户中心 tag标签字体颜色
  --member-tag-color: #666666;
  // 用户中心 选中tag标签字体颜色
  --member-tag-active-color: #e1e1e1;
  // 用户中心 tag下划线颜色
  --member-tag-bottom-color: #f3b867;
  // 时间选择器背景色
  --datepicker-background-color: #1e1e24;
  // 表格背景色
  --table-backround-color: rgba(30, 30, 36, 0.4);
  // 表格主体颜色
  --table-content-backround-color: #2b2b2d;
  // 表格线条颜色
  --table-border-color: #25252b;
  // 表格外边框
  --table-border: none;
  // 表格字体色
  --table-thead-color: #e1e1e1;
  // 表格字体色
  --table-tbody-color: #a8a8a8;
  // 充值左侧active渐变色
  --fieldset-linear-gradient: linear-gradient(
          to right,
          #3b3b42 0%,
          #e4b676 49%,
          #3b3b42 99%,
  );
  // 充值左侧active边框色
  --fieldset-border-color:  #3b3b42;
  // 交易所卡片背景色
  --coin-market-card-background-color: #222222;
  // 充值引导卡片背景色
  --usdt-guide-background-color: #25252b;
  // 充值引导卡片边框色
  --usdt-guide-border-color: #3b3b42;
  // 充值金额表按钮背景色
  --amount-list-background-color: #2a2a32;
  // 充值输入框背景色
  --amount-input-background-color: #222222;
  // 钱包删除按钮背景色
  --wallet-delete-background-color: #6f6f71;
  // 添加卡片的背景色
  --wallet-add-background-color: transparent;
}