.credit-password {
  img {
    width: 100%;
  }
  .content-panel {
    width: 90%;
    margin: -25px auto 0 auto;
    .toggle-swither {
      position: relative;
      z-index: 2;
      display: flex;
      align-items: center;
      height: 50px;
      padding: 0 15px;
      background: #1e1e24;
      border-radius: 4px;
      span {
        flex: 1 1;
      }
      button {
        position: relative;
        width: 55px;
        height: 28px;
        font-size: 0;
        border-radius: 14px;
        background: #3b3b42;
        box-shadow: inset 0 0.02667rem 0.05333rem rgb(0 0 0 / 40%);
        transition: .4s cubic-bezier(.4,0,.2,1);
        &::after {
          content: "";
          position: absolute;
          width: 28px;
          height: 28px;
          border-radius: 50%;
          background: #f0f0f0;
          top: 0;
          left: 0;
          box-shadow: 0 0.02667rem 0.05333rem rgb(0 0 0 / 40%);
          transition: .4s cubic-bezier(.4,0,.2,1);
        }
      }
      input:checked + button {
        background: #1a90ff;
        &::after {
          left: 28px;
        }
      }
      input {
        display: none;
      }
    }
    .link {
      margin: 15px 0;
      text-align: right;
      button {
        color: #0b9cfe;
      }
    }
    .tips {
      margin-top: 25px;
      header {
        position: relative;
        padding-left: 18px;
        font-size: 18px;
        color: #e1e1e1;
        &::before {
          position: absolute;
          content: "";
          width: 4px;
          height: 18px;
          border-radius: 4px;
          background: #f3b867;
          left: 0;
          top: 1px;
        }
      }
      p {
        color: #a8a8aa;
        line-height: 24px;
        font-size: 15px;
      }
    }
  }
}