.dark {
  // 网页背景颜色 各种元素边框也使用此颜色
  --app-background-color: #222;
  // 各块背景颜色
  --block-background-color: #333;
  // 浅色背景
  --light-background-color: #ccc;
  // 一级文字颜色
  --first-color: #999;
  // 高亮文字颜色
  --high-light-color: #e5c6a3;
  // 深色字体颜色
  --deep-light-color: #999;
  // 模块标题
  --block-title-color: #e5c6a3;
  // 深色背景色
  --deep-background-color: #bfa676;
  // 金色字体颜色
  --gold-color: #e5c6a3;
  // 比赛列表隔行换色（odd）
  --match-odd-color: #3b3b3b;
  // 详情下注按钮背景色
  --match-bet-color: #3b3b3b;
  // 筛选按钮字体色
  --filter-font-color: #e5c6a3;
  // 筛选按钮背景色
  --filter-background-color:  #3c3c3c;
  // 筛选边框色
  --filter-border-color: #3c3c3c;
  // 筛选虚线颜色
  --filter-border-dash-coror: #3c3c3c;
  // 偏好按钮颜色
  --prefer-switch-color: #f4d598;
  // 偏好按钮背景色
  --prefer-switch-background-color: #9a8762;
  // 偏好保存按钮颜色
  --prefer-save-color: #f4d598;
  // 投注tab栏颜色
  --cart-background-color: #2c2c2c;
  // 收藏星星颜色
  --favorite-start-color: #333;
  // 收藏按钮背景色
  --favorite-button-color: #2c2c2c;
  // ant-collapse 颜色
  --ant-collapse-light-color: #3b3b3b;
  // ant-collapse 颜色
  --ant-collapse-even-color: #3b3b3b;
  //ant-collapse-border-color
  --ant-collapse-border-color: #222;
  // 我的注单表头颜色
  --ticket-thead-background-color: #393939;
  // 我的注单tr下划线颜色
  --ticket-tr-border-bottom: #393939;
  // 我的注单统计隔行换色
  --ticket-total-odd: #333333;
  // 下拉选择边框色
  --drop-border-color: #2d2d2d;
  // 投注背景色
  --bet-background-color: #3b3b3b;
  //滚动条颜色
  --scrollbar-thumb-color: rgba(255,255,255,.5);
  // 滚动条hover颜色
  --scrollbar-thumb-hover: rgba(255,255,255,.7);
  // 比赛列表边框色
  --match-list-border-color: #222;
  // 比赛背景色
  --match-list-background-even: #2b2b2b;
  // 比赛背景色
  --match-list-background-odd: #363636;
  // 搜索栏右边icon颜色
  --search-bar-icon: #fff;
  // 元素高亮阴影
  --item-hl-box-shadow: 0 0 7px 3px rgba(255, 255, 255, .15);
  // 投注项高亮阴影
  --option-hl-box-shadow: inset 0 0 8px 2px rgba(255, 255, 255, .1);
  // 按钮渐变背景
  --btn-linear-gradient: linear-gradient(to right, #e5c6a3, #deba91);
  // 视频等待按钮背景
  --btn-video-waiting-background: #444;
  // 比赛详情多媒体切换栏背景颜色
  --media-tab-background: #2c2c2c;
  // 搜索结果文字高亮颜色
  --search-high-light-color: #bd2b27;
  // 优惠详情文字颜色
  --promo-detail-color: #999;
  // 活动时间高亮颜色
  --promo-time-color: #222;
  // 活动时间高亮颜色
  --promo-time-background-color: #e5c6a3;
}