.light {
  // app 背景颜色
  --app-background-color: #f0f0f0;
  // app 背景色
  --app-background-color2: #ffffff;
  // 一级文字颜色
  --first-color: #333333;
  // 二级文字颜色
  --secondary-color: #333333;
  // 全局高亮色
  --highlight-color: #e3b574;
  // 首页分类label色:
  --home-label-color: #333333;
  // 阴影
  --base-box-shadow: 0 2px 4px rgba(187,187,187,.5);
  // 箭头颜色
  --arrow-color: #bbb;
  //banner背景色
  --banner-bgc: linear-gradient(to bottom,#181818 50%,#f0f0f0 0%);
  //用户信息框线条颜色
  --user-info-boder: #eff0f2;
  //LIVE标签颜色
  --live-tag-color: #c10000;
  // 联赛组背景色
  --tour-background-color: #ffffff;
  //联赛组头部背景色
  --tour-header-bgc: linear-gradient(#353535,#181818);
  // 比赛隔行背景颜色
  --match-even-background-color: #f5fdff;
  // 比赛队名颜色
  --match-team-color: #333333;
  // 投注项的标题颜色
  --option-label-color: #666;
  // 标注文字颜色 (角标)
  --tip-color: #999;
  // 标题栏底边线
  --header-box-shadow: 2px 0 0 2px #ededed;
  //玩法小点颜色
  --carousel-dot-color: #999999;
  // 玩法小点背景色
  --carousel-dot-bgc: #ddd;
  // 滚球tab-menu字体颜色
  --tab-menu-color: #373737;
  // match-info-time颜色
  --matchinfo-time-color: #999;
  // border线条色
  --border-color: #ddd;
  // input 背景色
  --input-bgc: #f0f0f0;
  // 偏好设置字体色
  --preference-color: #333333;
  // 我的注单时间背景色
  --ticket-time-bgc: #e7e7e7;
  --timepiker-bgc: #dbdbdb;
  // cartitemtotal背景色
  --cartitemtotal-bgc: #fff;
  // cartitemtotal背景色 浅蓝
  --cartitemtotal-bgc-light: #F5FDFF;
  // 购物车选项背景色
  --cart-item-bgc: #F5FDFF;
  //购物车选项边框色
  --cart-item-border: rgba(230,230,230,.3);
  //rules color
  --rule-color: #333;
  // switch 背景色
  --switch-bgc: #d4d4d4;
  // switch 圆圈颜色
  --switch-circle-bgc: #707070;
  //icon cross 背景色
  --cross-bgc: rgba(0,0,0,.3);
  //键盘背景色
  --keyboard-bgc: #fff;
  // 键盘数字颜色
  --keyboard-color: #707070;
  //金额输入框颜色
  --amount-input-bgc: #f6f6f6;
  //键盘active 背景色
  --key-active-bgc: #f2d195;
  //键盘active 颜色
  --key-active-color: #f0f0f0;
  //提现按钮边框
  --withdraw-border: #181818;
  //充值按钮背景色
  --cashin-bgc: linear-gradient(to bottom,#414141,#181818);
  //充值按钮颜色
  --cashin-color: #e2b372;
  //会员信息背景色
  --member-bgc: #fff;
  // 会员后面的背景色
  --member-back: linear-gradient(to bottom, #353535 30%, #181818 60%, #f0f0f0 0%);
  //筛选栏背景色
  --drawer-bgc: #f6f7f9;
  //筛选栏比赛按钮
  --drawer-button-bgc: #fff;
  //筛选栏比赛边框
  --drawer-button-border: noene;
  //投注loading背景色
  --result-loading-bgc: rgba(30,30,30,.4);
  //详情页market背景色
  --detail-market-bgc: #f5fdff;
  // 底部颜色
  --tabbar-bgc: #2d2d2d;
  // 底部颜色
  --tabbar-color: #aaaaaa;
  // 头部背景色
  --header-bgc: #2d2d2d;
  // tab-bar文字颜色
  --tab-bar-color: rgba(160,160,160,.8);
}
