.dark {
  // app 背景颜色
  --app-background-color: #181818;
  // app 背景色
  --app-background-color2: #181818;
  // 一级文字颜色
  --first-color: #bbb;
  // 二级文字颜色
  --secondary-color: #999;
  // 全局高亮色
  --highlight-color: #f2d195;
  // 首页分类label色:
  --home-label-color: #f2d195;
  // 阴影
  --base-box-shadow: none;
  // 箭头颜色
  --arrow-color: #444;
  //banner背景色
  --banner-bgc: #181818;
  //用户信息框线条颜色
  --user-info-boder: #1a1a1a;
  //LIVE标签颜色
  --live-tag-color: #f2d195;
  // 联赛组背景色
  --tour-background-color: #1e1e1e;
  //联赛组头部背景色
  --tour-header-bgc: #1e1e1e;
  // 比赛隔行背景颜色
  --match-even-background-color: #252525;
  // 比赛队名颜色
  --match-team-color: #aaa;
  // 投注项的标题颜色
  --option-label-color: #888;
  // 标注文字颜色 (角标)
  --tip-color: #777;
  // 标题栏底边线
  --header-box-shadow: 2px 0 0 2px #121212;
  // 玩法小点颜色
  --carousel-dot-color: #444;
  // 玩法小点背景色
  --carousel-dot-bgc: #aaa;
  // 滚球tab-menu字体颜色
  --tab-menu-color: #bbb;
  // match-info-time颜色
  --matchinfo-time-color: #666;
  // border线条色
  --border-color: #181818;
  // input 背景色
  --input-bgc: #2a2a2a;
  // 偏好设置字体色
  --preference-color: #a8a8aa;
  // 我的注单时间背景色
  --ticket-time-bgc: #141414;
  --timepiker-bgc: transparent;
  // cartitemtotal背景色
  --cartitemtotal-bgc: #252525;
  // cartitemtotal背景色 浅蓝
  --cartitemtotal-bgc-light: #252525;
  // 购物车选项背景色
  --cart-item-bgc: #1e1e1e;
  //购物车选项边框色
  --cart-item-border: rgba(24,24,24,.5);
  //rules color
  --rule-color: #F9F9F9;
  // switch 背景色
  --switch-bgc: #2a2a2a;
  // switch 圆圈颜色
  --switch-circle-bgc: #a8a8aa;
  //icon cross 背景色
  --cross-bgc: rgba(255,255,255,.3);
  //键盘背景色
  --keyboard-bgc: #131313;
  // 键盘数字颜色
  --keyboard-color: #aaaaaa;
  //金额输入框颜色
  --amount-input-bgc: #dddddd;
  //键盘active 背景色
  --key-active-bgc: #242424;
  //键盘active 颜色
  --key-active-color: #f2d195;
  //提现按钮边框
  --withdraw-border: #f2d195;
  //充值按钮背景色
  --cashin-bgc: linear-gradient(to top, #e2b372, #f5d79b, #f5d79b);
  //充值按钮颜色
  --cashin-color: #181818;
  // 会员信息背景色
  --member-bgc: #1e1e1e;
  // 会员后面的背景色
  --member-back: #181818;
  //筛选栏背景色
  --drawer-bgc: #181818;
  //筛选栏比赛按钮
  --drawer-button-bgc: #181818;
  //筛选栏比赛边框
  --drawer-button-border: 1px solid #2a2a2a;
  //投注loading背景色
  --result-loading-bgc: rgba(30,30,30,.9);
  //详情页market背景色
  --detail-market-bgc: #1e1e1e;
  // 底部颜色
  --tabbar-bgc: #111111;
  // 底部颜色
  --tabbar-color: rgba(102, 102, 102, 0.8);
  // 头部背景色
  --header-bgc: #181818;
  // tab-bar文字颜色
  --tab-bar-color: rgba(108,108,108,.8);
}
