.cart-ticket {
  border-top: 10px solid var(--cart-background-color);
  &-header {
    height: 60px;
    width: 350px;
    padding: 13px 20px;
  }
  &-content {
    border: 1px solid var(--app-background-color);
    border-left: none;
    border-right: none;
    padding: 10px 10px;
    .content-item {
      padding: 10px 10px;
    }
  }
  &-footer {
    color: var(--deep-light-color);
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    >div img {
      width: 16px;
      height: 16px;
      margin:0 5px 2px 0;
    }
    .return {
      color: var(--high-light-color);
      font-weight: 700;
    }
  }
}