.acc-container.step3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    margin-top: 15px;
    width: 44px;
  }
  span {
    margin: 16px 0 25px 0;
    color: #ffffff;
  }
  button {
    margin-bottom: 40px;
  }
}