i.icon-team-logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  border-radius: 50%;
  overflow: hidden;
  background-color: #89939f;
  color: #fff;
}