.credit-password-verify-dialog {
  .am-modal-content {
    padding-bottom: 30px;
  }
  p {
    color: #fff;
    text-align: left;
    font-size: 14px;
    padding-bottom: 15px;
  }
  .input-field {
    display: flex;
    align-items: center;
    height: 40px;
    margin-top: 20px;
    border-radius: 3px;
    border: solid 1px #aaaaaa;
    padding: 0;
    color: #ededed;
    label {
      height: 20px;
      padding-left: 15px;
      border-right: 1px solid #aaa;
      padding-right: 10px;
      margin-right: 10px;
    }
    span {
      flex: 1 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: 15px;
      input {
        width: 100%;
        background: transparent;
        border: none;
        text-align: right;
        color: #fff;
      }
    }
  }
  .remark {
    text-align: center;
    margin-top: 30px;
    a:hover {
      color: var(--high-light-color);
      text-decoration: underline;
    }
  }
}