.group-list-header {
  overflow: hidden;
  height: 55px;
  line-height: 55px;
  background-color: #005ba5;
  font-size: 24px;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  position: relative;
  letter-spacing: 2px;

  i::after {
    content: '';
    position: absolute;
    width: 80px;
    height: 60px;
    background-image: linear-gradient(to left, rgba(200, 200, 200, .6) 0%, rgba(255, 255, 255, 0));
    opacity: .5;
    left: 0;
    top: -30px;
    transform: rotate(30deg);
  }

  i::before {
    content: '';
    position: absolute;
    width: 60px;
    height: 117px;
    background-image: linear-gradient(to right, rgba(200, 200, 200, 0) 0%, rgba(255, 255, 255, 0.2));
    opacity: 0.85;
    left: 60px;
    top: -40px;
    transform: rotate(30deg);
  }

  &::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: linear-gradient(to right, rgba(200, 200, 200, .6) 0%, rgba(255, 255, 255, 0));
    opacity: .3;
    right: 0;
    top: -20px;
    transform: rotate(-30deg);
  }

  &::before {
    content: '';
    position: absolute;
    width: 60px;
    height: 117px;
    background-image: linear-gradient(to left, rgba(200, 200, 200, 0) 0%, rgba(255, 255, 255, 0.2));
    opacity: 0.8;
    right: 35px;
    top: -40px;
    transform: rotate(-30deg);
  }
}