.nb-app-container .nb-betting-panel {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  padding: 0 .2rem;
  align-items: flex-end;
  transition: background-color .3s;
}

.nb-betting-panel.nb-betting-viewing {
  display: flex;
  background: rgba(0,0,0, 0);
}

.nb-betting-panel.nb-active {
  display: flex;
  background-color: rgba(0,0,0, .7);
}

.nb-betting-panel .nb-dialog-content,
.nb-betting-panel.nb-betting-viewing .nb-dialog-content{
  transform: translateY(100%);
  transition: transform .15s;
  width: 100%;
}

.nb-betting-panel.nb-active .nb-dialog-content {
  transform: translateY(0);
}

.nb-betting-panel.nb-betting-dialog-list {
  padding: 0;
  z-index: 10;
}

.nb-betting-panel.nb-betting-dialog-list  .nb-dialog-content  {
  height: 100%;
  width: 100%;
  background: #2E2F34;
}


.nb-betting-panel .nb_OrderSuccessbox {
  padding: .2rem;
  background: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.nb-betting-panel .nb_OrderSuccessbox .nb_OrderSuccess > p {
  color: #666;
}