<template id="footerTmpl">
<div class="footer">
	<div class="links">
    <!--<span><a forward='forward' newview='true' href="#">400电话</a></span>-->		
        <span><a forward='forward' newview='true' href="common/license.htm">牌照展示</a></span>
		<span><a forward='forward' newview='true' href="common/newbie_guide.htm">新手指南</a></span>
		<span><a forward='forward' newview='true' href="common/about.htm">关于我们</a></span>
	</div>
	                    
	<p class="arr">© 2016 博天堂娱乐. All rights reserved.</p>
	<img src="../../__static/__images/index/btm_logo.png" alt="#">
</div>
</template>
<script type="text/javascript">
Vue.component("app-footer", {
	template: "#footerTmpl"
});
</script>