<style>
    .show-photo-slider .swiper-wrapper .swiper-slide a {
        display: block;
        position: relative;
    }
	@media screen and (min-width: 320px) {
	   .show-photo-slider,
	   .show-photo-slider .swiper-container,
	   .show-photo-slider .swiper-wrapper,
	   .show-photo-slider .swiper-wrapper .swiper-slide a,
	   .show-photo-slider .swiper-wrapper img {
	       height: 150px;
	   }
	}
	@media screen and (min-width: 360px) {
	   .show-photo-slider,
       .show-photo-slider .swiper-container,
	   .show-photo-slider .swiper-wrapper,
       .show-photo-slider .swiper-wrapper .swiper-slide a,
	   .show-photo-slider .swiper-wrapper img{
	       height: 168px;
	   }
	}
	@media screen and (min-width: 375px) {
       .show-photo-slider,
       .show-photo-slider .swiper-container,
       .show-photo-slider .swiper-wrapper,
       .show-photo-slider .swiper-wrapper .swiper-slide a,
       .show-photo-slider .swiper-wrapper img{
           height: 175px;
       }
    }
    @media screen and (min-width: 414px) {
       .show-photo-slider,
       .show-photo-slider .swiper-container,
       .show-photo-slider .swiper-wrapper,
       .show-photo-slider .swiper-wrapper .swiper-slide a,
       .show-photo-slider .swiper-wrapper img{
           height: 193px;
       }
    }
    @media screen and (min-width: 568px) {
       .show-photo-slider,
       .show-photo-slider .swiper-container,
       .show-photo-slider .swiper-wrapper,
       .show-photo-slider .swiper-wrapper .swiper-slide a,
       .show-photo-slider .swiper-wrapper img{
           height: 265px;
       }
    }
    @media screen and (min-width: 640px) {
       .show-photo-slider,
       .show-photo-slider .swiper-container,
       .show-photo-slider .swiper-wrapper,
       .show-photo-slider .swiper-wrapper .swiper-slide a,
       .show-photo-slider .swiper-wrapper img{
           height: 299px;
       }
    }
    
    @media screen and (min-width: 667px) {
       .show-photo-slider,
       .show-photo-slider .swiper-container,
       .show-photo-slider .swiper-wrapper,
       .show-photo-slider .swiper-wrapper .swiper-slide a,
       .show-photo-slider .swiper-wrapper img{
           height: 311px;
       }
    }
    @media screen and (min-width: 736px) {
       .show-photo-slider,
       .show-photo-slider .swiper-container,
       .show-photo-slider .swiper-wrapper,
       .show-photo-slider .swiper-wrapper .swiper-slide a,
       .show-photo-slider .swiper-wrapper img{
           height: 343px;
       }
    }
    @media screen and (min-width: 768px) {
       .show-photo-slider,
       .show-photo-slider .swiper-container,
       .show-photo-slider .swiper-wrapper,
       .show-photo-slider .swiper-wrapper .swiper-slide a,
       .show-photo-slider .swiper-wrapper img{
           height: 358px;
       }
    }
    @media screen and (min-width: 1024px) {
       .show-photo-slider,
       .show-photo-slider .swiper-container,
       .show-photo-slider .swiper-wrapper,
       .show-photo-slider .swiper-wrapper .swiper-slide a,
       .show-photo-slider .swiper-wrapper img{
           height: 478px;
       }
    }
    @media screen and (min-width: 1366px) {
       .show-photo-slider,
       .show-photo-slider .swiper-container,
       .show-photo-slider .swiper-wrapper,
       .show-photo-slider .swiper-wrapper .swiper-slide a,
       .show-photo-slider .swiper-wrapper img{
           height: 638px;
       }
    }
</style>
<template id="promoSliderTmpl">
    <div class="discount relative" style="padding-right:15px;">
       <h2>客户参与品牌活动集锦</h2>
       <span class="xplore"><a @click="clientShowPhotos">查看下一组 <i class="icon icon05"></i></a></span>
       <p class="subtitle">{{showPhotos.title}}</p>
       <div class="slide show-photo-slider">
           <div class="swiper-container">
               <div class="swiper-wrapper">
                   <div v-for="spl in showPhotos.list" class="swiper-slide">
                       <a href="javascript:void(0);">
                           <div class="contents img-title">{{spl.title}}</div>
                           <h-img :src="spl.imgurl"></h-img>
                           <div class="contents img-txtcontent" @click="clientShowPhotosAllDesc">{{showPhotos.subDesc}}</div>
                       </a>
                   </div>
               </div>
           </div>
           <div class="swiper-pagination pagination2"></div>
       </div>
   </div>
</template>
<script>
;(function () {
	var promoSliderData = {
		 showPhotos: {
           "nextId": "13",
           "title": "",
           "subDesc": "",
           "description": "",
           "list": []
        },
        promoSwiper: null
	};
	
	Vue.component("promo-slider", {
        template: "#promoSliderTmpl",
        data: function() {
            return promoSliderData;
        },
        mounted: function () {
            this.init();
        },
        methods: {
        	init: function () {
        		
            },
            clientShowPhotos: function() {
                showPhotoData();
                
                setTimeout(function () {
                	promoSliderData.promoSwiper.update();
                	promoSliderData.promoSwiper.slideTo(0, 5);
                	promoSliderData.promoSwiper.startAutoplay();
                }, 5);
            },
            clientShowPhotosAllDesc: function() {
                var _this = this.showPhotos,
                    len = textLen();
                _this.subDesc = _this.subDesc.length > len + 3 ? _this.description.substr(0, len) + '...' : _this.description;
            }
        }
	});

	function updatePromoSwiper()
	{
		setTimeout(function () {
			promoSliderData.promoSwiper = new Swiper('.show-photo-slider .swiper-container', {
				loop: false,
	            lazyLoading:true,
	            pagination: '.pagination2',
	            paginationClickable: true,
	            preloadImages:false,
	            // 自动播放时间间隔 5s 
	            autoplay: 5000,
	            // 中断自动播放后继续播放
	            autoplayDisableOnInteraction: true,
	            onSlideChangeEnd: function(i) {
	            	if(i.isEnd) {
	            		setTimeout(function () {
	                        showPhotoData();
	                        setTimeout(function () {                        
	                        	promoSliderData.promoSwiper.update();
	                        	promoSliderData.promoSwiper.slideTo(0, 5);
	                        	promoSliderData.promoSwiper.startAutoplay();
	                        }, 5);
	                    }, 4700);
	            	}
	            }
	        });
        }, 0);
	}
	
	function textLen()
    {
		var width = $(".show-photo-slider .swiper-container").width();
        return width>0 ? parseInt(width/8) : 42;
	}
	
	function showPhotoData()
    {
        var data = {
                "id_01":{
                    "title": "“飞”律宾惊喜游艇之旅第一季",
                    "desc" : "2017年初夏，博天堂尊贵客户及亲友参加了豪华游艇之旅，实地参观AG贵宾厅进行了现场投注，观赏了世界烟火大赛，乘坐豪华游艇品美酒赏海景，并亲身体验自驾飞机翱翔天际。。。",
                    "list" : ['体验开飞机','焰火表演','豪华游艇','客户体验射击','驾船出游','客户自驾飞机','欢迎晚宴','大雅台火山']
                },
                "id_02":{
                    "title": "2017年阳春三月德荷两国欢乐游",
                    "desc" : "2017年3月博天堂客户莅临德国在VIP包厢观赏勒沃库森精彩赛事，参观了宏伟壮观的科隆教堂、奥古斯塔斯堡，游览了贝多芬故居，并乘船游览荷兰羊角村，尽享了德荷欧洲风情！",
                    "list" : ['游览科隆大教堂','乘船观赏美景','德荷著名奥特莱斯购物','勒沃库森教练席留影','米其林餐厅接风宴','VIP包厢观战','观赏莱茵河美景','游览荷兰羊角村']
                },
                "id_03":{
                    "title": "2016年11月德荷两国欢乐游",
                    "desc" : "2016年11月，客户德国现场观看勒沃库森与RB莱比锡精彩赛事。客户一行品尝德国啤酒美食，观看了梵高画展，荷兰参观中世纪风情 “荷兰风车村”，体验了性都阿姆斯特丹夜生活，美景美食美人美不胜收。。。",
                    "list" : ['客户浏览风车村','客户教练席合影','客户勒沃库森俱乐部合影','客户VIP包厢观赛合影','客户现场观战','客户与勒沃库森球员合影','客户浏览国王大道']
                },
                "id_04":{
                    "title": "2016年9月德荷两国欢乐游",
                    "desc" : "2016年9月，博天堂亲临德国观看勒沃库森对战多特蒙德。参观了著名拜耳球场，游览科隆大教堂，走过莱茵河上布满爱情锁浪漫“霍亨索伦桥”，贝多芬故居合影，荷兰参观了梵高美术馆。",
                    "list" : ['客户VIP包厢看球赛','客户跟勒沃库森球员合影','近距离看精彩瞬间','美食当前喜不自胜','游荷兰风车村','游览科隆大教堂','霍亨索伦桥迷人夜景','霍亨索伦桥上街头艺人互动','客户&辣妹共舞']
                },
                "id_05":{
                    "title": "与尼尔罗伯逊相约菲律宾",
                    "desc" : "2016年金秋，20余名VIP会员欢聚菲律宾，跟世界知名斯诺克球手罗伯逊切磋球技，亲身体验了实弹射击；参加豪华热辣游艇party，交朋识友不亦乐乎！",
                    "list" : ['罗伯逊与全部会员合影','VIP客户与罗伯逊切磋球技','尼尔·罗伯逊签名','晚宴与罗伯逊谈笑风生','VIP客户与罗伯逊合影','游艇party','罗伯逊游艇写真','罗伯逊与美女同游']
                },
                "id_06":{
                    "title": "萧敬腾&范玮琪澳门演唱会",
                    "desc" : "2016年5月,来自五湖四海90余名博天堂尊贵客户及亲朋在澳门欢聚一堂。晚宴后客户们在VIP坐席观赏了演唱会，并与喜爱的明星合影留念。",
                    "list" : ['博天堂会员感受到现场演唱会的热烈气氛','萧敬腾&范玮琪深情对唱','绚丽的演唱会现场','博天堂会员接受采访','博天堂会员们共聚一堂，共进晚宴','博天堂VIP会员与萧敬腾合影','博天堂会员与范玮琪合影','客户签名留念']
                },
                "id_07":{
                    "title": "博天堂冠名世界经典赛事",
                    "desc" : "2016年2月，博天堂尊贵客户及亲朋参加了德国荷兰奢华之旅，参观历史遗迹柏林墙、欧洲最大的红灯区汉堡巷。品尝了地道的德国猪手，白啤酒等当地美食。现场观战斯诺克大师赛后，与获奖选手合影，并获赠世界顶尖选手签名球杆，惊喜万分！",
                    "list" : ['博天堂客户现场观看德国斯诺克大师赛','斯诺克德国大师赛精彩瞬间','客户近距离观看斯诺克德国大师赛','博天堂代表与冠军合影留念','获奖后冠军与博天堂客户与观众互动','冠军马丁古尔德答谢现场观众']
                },
                "id_08":{
                    "title": "宝丽金永恒金曲澳门演唱会",
                    "desc" : "2015年3月博天堂尊贵客户在演唱会VIP坐席观看了宝丽金演唱会，一睹李克勤等众星风采。客户一行参观了澳门必不可少的“妈阁庙”、全球十大观光塔的“澳门旅游塔”及“大三巴牌坊“，并获得博天堂赠送免费筹码，跟红顶绿一试手气。",
                    "list" : ['博天堂客户们观光大三巴牌坊','博天堂客户VIP坐席聆听现场演唱会','客户们近距离欣赏宝丽金众星演唱','博天堂VIP客户与明星合影','博天堂VIP客户与明星合影','博天堂VIP客户与李克勤合影']
                },
                "id_09":{
                    "title": "一路相伴，感谢有您",
                    "desc" : "2013年3月博天堂110名尊贵的会员参加了在澳门举办的春茗答谢晚宴，当晚博天堂为贵客们现场送出了价值5万的3组金牌、价值10万的劳力士及价值20万百达翡丽等众多大奖。",
                    "list" : ['答谢晚宴现场','晚宴现场透明抽奖箱','尊贵VIP客户参与现场小游戏','晚会现场互动','晚会沙画表演','晚宴现场抽奖','客户抽中价值10万的劳力士','客户抽中价值20万的百达翡丽']
                },
                "id_10":{
                    "title": "918高尔夫亚巡赛11月23日完美收官",
                    "desc" : "2014年11月博天堂尊贵用户们参加了奢华菲律宾之旅，客户一行实地参观了AG厅，进行了现场投注，体验了私人定制的国家级梁文冲高尔夫教学，领略了酒吧街浓郁的异国风情，享受碧海蓝天比基尼海滩的休闲一夏。",
                    "list" : ['高尔夫比赛现场','亚巡赛精彩瞬间','亚巡赛精彩瞬间','高尔夫晚宴现场','亚巡赛精彩瞬间','尊贵VIP客户与中国选手合影','尊贵VIP客户现场中奖','尊贵VIP客户与梁文冲合影','博天堂高尔夫宝贝风采']
                },
                "id_11":{
                    "title": "博天堂AV女友荷官周",
                    "desc" : "2014年1月博天堂尊贵客户们与波多野结衣等八位顶级女优共聚菲律宾，一起参与博天堂举办AV女优荷官欢乐周。晚宴现场，尊贵的博天堂客户们与女优进行了亲密游戏互动，并合影签名留念。",
                    "list" : ['探班后台近距离接触波多野结衣','女优初音实荷官风采','女优北条麻妃荷官风采','尊贵VIP客户与女优共进晚餐','女优给尊贵VIP会员们签名留念','尊贵VIP会员与女优游戏互动','尊贵VIP客户与女优合影留念',
                              '尊贵VIP客户与女优合影留念','尊贵VIP客户与女优交杯酒','尊贵VIP客户与女优合影']
                },
                "id_12":{
                	"title": "梦幻海岛之旅",
                  "desc" : "2017年8月,博天堂尊贵客户欢聚菲律宾参与了“梦幻海岛之旅”！奢华游艇party，参观体验AG现场下注，自驾飞机翱翔天际，驾越野扬沙溅石穿越山地河谷，雨中泛竹筏。。。客户们流连忘返。好几个客户约定下次要带更多朋友再来，不见不散！",
                  "list" : ['自驾越野车刺激体验','一路崎岖勇往直前','车队穿山越岭','驾驶飞机蓝天翱翔','畅享驾飞机乐趣','客户游艇派对边玩边赚钱','客户返乡表示诚挚谢意','雨中划竹筏别样体验','展示实体赌场战绩']
                },
                "id_13":{
                  "title": "“飞”律宾长滩暖阳海岛游第四季",
                  "desc" : "2017年12月，博天堂尊贵客户相聚长滩。在这世界知名海滩，客户体验了刺激的摩托艇和香蕉船，乘拖曳伞翱翔蓝天，潜水探秘海底奇观。惬意的旅途中，与新结识的朋友们相谈甚欢。下一站，不见不散！",
                  "list" : ['博天堂工作人员热情接待', '俯瞰长滩岛', '搭乘螃蟹船跳岛游', '帅气的悬崖跳水', '体验浮潜', '体验拖曳伞', '客户驾艇乘风破浪', '香蕉船体验水花四溅', '客户海底漫步', '碧海蓝天下合影留念', '参与越野车比赛', '接机警车开道', '体验真枪实弹', '客户参观博天堂Solaire现场', '客户举杯欢聚一堂', '客户在白鲨会馆小憩']
                }
          };

        var _this = promoSliderData.showPhotos,
            dataNum = 13;
        
        var id = 'id_' +  _this.nextId;
        if (!data[id]) {
            return false;
        }
        
        var len = textLen();
        _this.title = data[id].title;
        _this.description = data[id].desc;
        _this.subDesc = _this.description.length > len + 3 ? _this.description.substr(0, len) + '...' : _this.description;

        _this.list.length = 0;
        var path = 'static/A01M/_default/__static/__images/app/show_photos/',
            idv = id.substr(3,5);
        data[id].list.forEach(function (value, i) {
            var imgI = (i+1);
            if (_this.nextId==13 && imgI==1) {
              imgI = '101';
            } else if (_this.nextId==13 && imgI==2) {
              imgI = '102';
            }
            _this.list.push({
                'title': value,
                'imgurl': path + idv +'/'+ imgI +'.jpg'
            });
        });
        
        _this.nextId = (parseInt(idv) + 1) <10 ? '0'+ (parseInt(idv) + 1) : parseInt(idv) + 1;
        
        if (_this.nextId == dataNum + 1) {
            _this.nextId = '01';
        }
    }
	
	JSBridge.onReady(function () {
		var _this = promoSliderData;
		
		setTimeout(function(){
	        showPhotoData();
			if (!_this.promoSwiper) {
				updatePromoSwiper();
			} else {
				setTimeout(function () {
	                _this.promoSwiper.update();
	                _this.promoSwiper.slideTo(1, 5);
	                _this.promoSwiper.startAutoplay();
	            }, 5);
			}
		}, 2000);
	});	
})();
</script>