.special-note {
  & > .content {
    ol li {
      list-style-type: decimal;
      margin-bottom: 15px;
    }
    .container {
      color: var(--first-color);
      font-size: 15px;
    }
    .header {
      position: sticky;
      top: 0;
      display: flex;
      align-items: center;
      font-size: 18px;
      background-color: var(--app-background-color);
      color: var(--first-color);
    }
    .list {
      margin: 0 10px 0 30px;
        a {
        color: #f40c06;
      }
    }
  }
  .back-button {
    display: inline-block;
  }
}