.dark {
  // app 背景颜色
  --app-background-color: #181818;
  // 一级文字颜色
  --first-color: #bbb;
  // 二级文字颜色
  --secondary-color: #999;
  // 全局高亮色
  --highlight-color: #f2d195;
  // 首页分类label色:
  --home-label-color: #f2d195;
  // 箭头颜色
  --arrow-color: #444;
  // 联赛组背景色
  --tour-background-color: #1e1e1e;
  // 比赛隔行背景颜色
  --match-even-background-color: #252525;
  // 比赛队名颜色
  --match-team-color: #aaa;
  // 投注项的标题颜色
  --option-label-color: #888;
  // 标注文字颜色 (角标)
  --tip-color: #777;
  // 标题栏底边线
  --header-box-shadow: 0 0 0 2px #121212;
  // 玩法小点颜色
  --carousel-dot-color: #444;
  // 玩法小点背景色
  --carousel-dot-bgc: #aaa;
  // 滚球tab-menu字体颜色
  --tab-menu-color: #bbb;
  // match-info-time颜色
  --matchinfo-time-color: #666;
  // border线条色
  --border-color: #181818;
  // input 背景色
  --input-bgc: #2a2a2a;
  // 偏好设置字体色
  --preference-color: #a8a8aa;
  // 我的注单时间背景色
  --ticket-time-bgc: #141414;
  --timepiker-bgc: transparent;
  // cartitemtotal背景色
  --cartitemtotal-bgc: #252525;
  //rules color
  --rule-color: #F9F9F9;
}
