.light {
  // app 背景颜色
  --app-background-color: #f0f0f0;
  // 一级文字颜色
  --first-color: #333333;
  // 二级文字颜色
  --secondary-color: #333333;
  // 全局高亮色
  --highlight-color: #e3b574;
  // 首页分类label色:
  --home-label-color: #333333;
  // 箭头颜色
  --arrow-color: #bbb;
  // 联赛组背景色
  --tour-background-color: #ffffff;
  // 比赛隔行背景颜色
  --match-even-background-color: #f5fdff;
  // 比赛队名颜色
  --match-team-color: #333333;
  // 投注项的标题颜色
  --option-label-color: #666;
  // 标注文字颜色 (角标)
  --tip-color: #999;
  // 标题栏底边线
  --header-box-shadow: 0 0 0 2px #121212;
  //玩法小点颜色
  --carousel-dot-color: #999999;
  // 玩法小点背景色
  --carousel-dot-bgc: #ddd;
  // 滚球tab-menu字体颜色
  --tab-menu-color: #666;
  // match-info-time颜色
  --matchinfo-time-color: #999;
  // border线条色
  --border-color: #ddd;
  // input 背景色
  --input-bgc: #f0f0f0;
  // 偏好设置字体色
  --preference-color: #333333;
  // 我的注单时间背景色
  --ticket-time-bgc: #e7e7e7;
  --timepiker-bgc: #dbdbdb;
  // cartitemtotal背景色
  --cartitemtotal-bgc: #fff;
  //rules color
  --rule-color: #333;
}