.unsettle {
  max-height: 90vh;
  background-color: var(--tour-background-color);
  padding: 0 10px;
  button {
    color: #242220;
    width: 100%;
    margin-bottom: 50px;
    height: 45px;
    background-image: linear-gradient(to right, #e2b372, #f5d79b, #f5d79b);
    border-radius: 4px;
  }
}