.captcha-input {
 .acc-custom-input-after {
   padding: 0;
   > div {
     height: 100%;
     width: 100px;
     display: flex;
     justify-content: center;
     background: aliceblue;
     img {
       height: 100%;
       width: 100%;
     }
   }
 }
}