.widget-has-custom-style-home-away .sr-bb .srt-fill-away-1 {
  fill: rgb(255, 83, 83);
}
.widget-has-custom-style-home-away .sr-bb .srt-base-1-away-1 {
  color: rgb(255, 83, 83);
  border-color: rgb(255, 83, 83);
}
.sr-possession-circular-chart__team-name,
.sr-possession-circular-chart__team-name + img {
  display: none !important;
}

.sr-bb .sr-possession-circular-chart__team-proc {
  margin-top: 35px;
}