.match-count {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 10px;
  background-color: var(--block-background-color);
  border-radius: 4px;
  a {
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--app-background-color);
    align-items: center;
    justify-content: center;
    height: 110px;
    div {
      div {
        width: 100%;
      }
      var {
        font-size: 30px;
        font-style: normal;
      }
    }
  }
}