.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--cart-item-bgc);
  > div:first-child {

    >div:nth-child(-n+2) {
      font-size: 12px;
      color: #888888;
    }

    > div {
      margin: 3px 0;
      word-break: break-all;
    }
  }
  .right-slot {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    min-width: 50px;
    color: var(--option-label-color);
    .switch {
      margin-bottom: 5px;
    }
  }
}