.oddin-game-container {
  display: grid;
  grid-template-rows: 60px 1fr 30px;
  height: 100%;
  background-color: rgb(25, 25, 25);
  & > header {
    display: flex;
    align-items: center;
    padding: 0 20px;
    background-color: #121212;
    i {
      flex: 1 1;
    }
    span {
      display: flex;
      align-items: center;
      font-size: 14px;
      color: #e1e1e1;
      button {
        height: 50px;
        width: 50px;
      }
    }
    .signin-options {
      display: flex;
      a {
        display: flex;
        align-items: center;
        line-height: 30px;
        font-size: 14px;
        cursor: pointer;
        white-space: nowrap;
        color: #e1e1e1;
        position: relative;
        margin: 0 20px;
        &:not(:last-child):after {
          content: "";
          position: absolute;
          display: block;
          width: 1px;
          height: 32px;
          border-radius: 32px;
          top: 0;
          right: -20px;
          background: linear-gradient(180deg,hsla(240,1%,64%,0) 2%,hsla(240,1%,64%,.5) 50%,hsla(240,1%,64%,0) 98%);
        }
        &:hover {
          color: #fff;
        }
      }
      .btn-login {
        color: #222222;
        padding: 0 15px;
        width: auto;
        height: 30px;
        border-radius: 4px;
        background-image: linear-gradient(to top, #e1ae74, #efc28e);
      }
    }
  }
  #oddinContainer {
    height: 100%;
    width: 100%;
    transition: all .2s linear;
    opacity: 1;
  }
  #oddinContainer iframe {
    border: 0;
  }
  .page-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &.loading {
    #oddinContainer {
      opacity: 0;
    }
  }
}
