.member-page {
  display: grid;
  grid-template-columns: minmax(400px, 1fr) 3fr;
  grid-gap: 20px;
  height: calc(100vh - 90px);
  padding: 16px 10px;
  .left {
    background: var(--block-background-color);
    padding: 24px 22px;
    overflow: hidden;
  }
  .right {
    height: 100%;
    overflow: auto;
  }
  .member-table {
    &-tit {
      display: flex;

      > div {
        font-size: 18px;
        cursor: pointer;
        margin-right: 20px;
        position: relative;
        color: var(--member-tag-color);
        &.active, &:hover {
          color: var(--member-tag-active-color);
        }

        &.active {
          &:before {
            content: "";
            position: absolute;
            bottom: -10px;
            width: 40px;
            height: 4px;
            border-radius: 2px;
            background-color: var(--member-tag-bottom-color);
          }
        }
      }
    }

    &-content {
      margin-top: 30px;
    }

    .ant-empty-description {
      color: #a8a8aa !important;
    }

    .ant-empty-normal {
      margin: 165px 0;
    }

    .ant-table-tbody, .ant-table-cell {
      &:hover {
        background-color: var(--table-content-backround-color) !important;
      }
    }

    .member-table-record {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;

      &-pagination {
        display: flex;
        align-items: center;
        &.other-ticket {
          margin-top: 20px;
        }

        > span {
          font-size: 14px;
          color: #a8a8aa;
        }
      }

      &-count {
        > div {
          display: inline-block;
          margin-left: 50px;
          font-size: 16px;
          color: #cfcfd1;

          span {
            color: var(--member-highlight-color);
          }
        }
      }
    }

    .member-table-filter {
      display: flex;
      align-items: center;
      height: 50px;
      line-height: 50px;
      font-size: 14px;
      margin-bottom: 20px;
      min-width: 1300px;
      .btn-search, .btn-clear {
        width: 98px;
        height: 40px;
        margin-left: 40px;
        padding: 10px 32px 8px 34px;
        border-radius: 2px;
        background-image: var(--colorful-linear-gradient);
        color: var(--colorful-color);
      }
      .btn-search {
        &:hover {
          background-image: var(--colorful-linear-gradient-left);
        }
      }
      .btn-clear {
        color: #a8a8aa;
        background: transparent;
        margin-left: 10px ;
      }
      .ant-select-selector {
        height: 40px;
        line-height: 40px;
        width: 120px;
        margin-left: 13px;
        background-color: var(--datepicker-background-color);
        color: #a8a8aa;
        border: 1px solid var(--drop-border-color);
        border-radius: 4px;
        .ant-select-selection-item {
          text-align: center;
          line-height: 40px;
          color: var(--table-tbody-color);
        }
      }
      .ant-select-arrow {
        color: #a8a8aa;
      }
    }

    .ant-picker {
      height: 40px;
      line-height: 40px;
      background-color: var(--datepicker-background-color);
      border-radius: 4px;
      margin:  13px;

      .ant-picker-input {
        flex-direction: row-reverse;
        & > input {
          margin-left: 15px;
        }
        & > input, .ant-picker-suffix {
          font-size: 14px;
          color: #a8a8a8;
        }
        .ant-picker-suffix {
          font-size: 18px;
        }
      }
    }

    .ant-picker-clear {
      display: none;
    }
    .ant-pagination-item-active {
      border-radius: 2px;
      background-image: var(--colorful-linear-gradient)!important;
      a {
        color: var(--colorful-color)!important;
      }
    }
    .ant-table {
      min-height: 500px;
      padding: 0 24px 7px;
      border-radius: 4px;
      background-color: var(--table-backround-color);
      border: var(--table-border);
      .ant-table-thead > tr > th {
        background: var(--table-content-backround-color);
        color: var(--table-thead-color);
      }

      .ant-table-container table > thead > tr:first-child th:first-child {
        border-top-left-radius: 0;
      }

      .ant-table-tbody > tr,
      .ant-table-tbody > tr.ant-table-row:hover > td {
        background-color: var(--table-content-backround-color);
        color: var(--table-tbody-color);
      }

      .ant-table-tbody > tr > td,
      .ant-table-thead > tr > th {
        border-color: var(--table-border-color);
      }
    }

    .ant-pagination {
      display: inline-block;

      .ant-pagination-item-link, .ant-pagination-item {
        background-color: transparent;
        border: 0;
        color: var(--table-tbody-color);
      }
    }

    .ant-table-placeholder {
      &:hover {
        background-color: var(--table-content-backround-color);
      }
    }
  }
}