.fullscreen-quickBet {
  position: absolute;
  top: 50px;
  left: 2px;
  width: 305px;
  height: auto;
  z-index: 2;
  padding: 10px 10px;
  background-color: var(--bet-background-color);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .15);
  border-radius: 2px;

  &.top {
    top: -120px;
  }
  // &.left {
  //   left: -61px;
  // }
  // &.top.left {
  //   left: -140px;
  // }
  input {
    width: 150px;
  }
  .bet-area {
    display: flex;
    align-items: center;
    .betBtn {
      width: 60px;
      height: 30px;
      line-height: 30px;
      border-radius: 4px;
      margin-left: 10px;
      background-color: var(--high-light-color);
      color: #FFFFFF;
      &:active {
        filter: brightness(.8);
      }
      &.disable {
        cursor: not-allowed;
        background-color: #cccccc;
        border: 0;
        &:hover {
          filter: none;
        }
      }
    }
  }
  .quick-quota {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    &-item {
      width: 50px;
      line-height: 24px;
      text-align: center;
      color: var(--high-light-color)!important;
      border-radius: 2px;
      border: 1px solid var(--high-light-color);
      &:hover {
        border: 0;
        background-color: var(--high-light-color);
        color: #FFFFFF!important;
      }
      &:active {
        filter: brightness(1.05);
      }
    }
  }
  .return-amount {
    padding-top: 10px;
    text-align: right;
    >span {
      color: var(--high-light-color);
      font-weight: 700;
      letter-spacing: 1px;
    }
  }
}