@import './theme.dark.less';
@import './theme.light.less';
@import './reset';

body.j9 {
  color: var(--first-color);
  background-color: var(--app-background-color);
}

#root {
  width: 100vw;
  min-height: 100vh;
  max-width: 960px;
  margin: 0 auto;
}

button, a {
  transition: all .25s ease-out;
}

.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.var-tip-text {
  position: relative;
  display: inline-block;
  color: var(--tab-menu-color);
  var {
    position: absolute;
    top: 0;
    right: 0;
    color: var(--tip-color);
    font-size: 9px;
    transform: translate(100%, -60%);
  }
}

.horizontal-scrollable {
  width: 100%;
  max-width: 960px;
  overflow: auto;
}

// 提交按钮样式
.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  height: 40px;
  width: 100%;
  border-radius: 3px;
  color: #181818;
  background-image: linear-gradient(to left, #f4d699, #e3b574);
  filter: grayscale(1);
  &.available {
    filter: grayscale(0);
  }
}