.light {
  // app 背景颜色
  --app-background-color: #f0f0f0;
  --block-background-color: #ffffff;
  // app 背景色
  --app-background-color2: #ffffff;
  // 一级文字颜色
  --first-color: #333333;
  // 二级文字颜色
  --secondary-color: #333333;
  // 三级文字颜色
  --third-color: #2d2d2d;
  // 全局高亮色
  --highlight-color: #e3b574;
  // 首页分类label色:
  --home-label-color: #333333;
  // 阴影
  --base-box-shadow: 0 2px 4px rgba(187,187,187,.5);
  // 箭头颜色
  --arrow-color: #bbb;
  //banner背景色
  --banner-bgc: linear-gradient(to bottom,#181818 50%,#f0f0f0 0%);
  //用户信息框线条颜色
  --user-info-boder: #eff0f2;
  //LIVE标签颜色
  --live-tag-color: #c10000;
  // 联赛组背景色
  --tour-background-color: #ffffff;
  //联赛组头部背景色
  --tour-header-bgc: linear-gradient(#353535,#181818);
  // 比赛隔行背景颜色
  --match-even-background-color: #f5fdff;
  // 比赛队名颜色
  --match-team-color: #333333;
  // 投注项的标题颜色
  --option-label-color: #666;
  // 标注文字颜色 (角标)
  --tip-color: #999;
  // 标题栏底边线
  --header-box-shadow: 2px 0 0 2px #ededed;
  //玩法小点颜色
  --carousel-dot-color: #999999;
  // 玩法小点背景色
  --carousel-dot-bgc: #ddd;
  // 滚球tab-menu字体颜色
  --tab-menu-color: #373737;
  // match-info-time颜色
  --matchinfo-time-color: #999;
  // border线条色
  --border-color: #ddd;
  // input 背景色
  --input-bgc: #f0f0f0;
  // 偏好设置字体色
  --preference-color: #333333;
  // 我的注单时间背景色
  --ticket-time-bgc: #e7e7e7;
  --timepiker-bgc: #dbdbdb;
  // cartitemtotal背景色
  --cartitemtotal-bgc: #fff;
  // cartitemtotal背景色 浅蓝
  --cartitemtotal-bgc-light: #F5FDFF;
  // 购物车选项背景色
  --cart-item-bgc: #F5FDFF;
  //购物车选项边框色
  --cart-item-border: rgba(230,230,230,.3);
  //rules color
  --rule-color: #333;
  // switch 背景色
  --switch-bgc: #d4d4d4;
  // switch 圆圈颜色
  --switch-circle-bgc: #707070;
  //icon cross 背景色
  --cross-bgc: rgba(0,0,0,.3);
  //键盘背景色
  --keyboard-bgc: #fff;
  // 键盘数字颜色
  --keyboard-color: #707070;
  //金额输入框颜色
  --amount-input-bgc: #f6f6f6;
  //键盘active 背景色
  --key-active-bgc: #f2d195;
  //键盘active 颜色
  --key-active-color: #f0f0f0;
  //提现按钮边框
  --withdraw-border: #181818;
  //充值按钮背景色
  --cashin-bgc: linear-gradient(to bottom,#414141,#181818);
  //充值按钮颜色
  --cashin-color: #e2b372;
  //会员信息背景色
  --member-bgc: #fff;
  // 会员后面的背景色
  --member-back: linear-gradient(to bottom, #353535 30%, #181818 60%, #f0f0f0 0%);
  //筛选栏背景色
  --drawer-bgc: #f6f7f9;
  //筛选栏比赛按钮
  --drawer-button-bgc: #fff;
  //筛选栏比赛边框
  --drawer-button-border: noene;
  //投注loading背景色
  --result-loading-bgc: rgba(30,30,30,.4);
  //详情页market背景色
  --detail-market-bgc: #f5fdff;
  // 底部颜色
  --tabbar-bgc: #2d2d2d;
  // 底部颜色
  --tabbar-color: #aaaaaa;
  // 头部背景色
  --header-bgc: #2d2d2d;
  // tab-bar文字颜色
  --tab-bar-color: rgba(160,160,160,.8);
  // 会员中心卡片背景色
  --member-card--background-color: #fff;
  // 会员中心卡片颜色
  --member-card-color: #2d2d2d;
  // 红色渐变对应金色渐变的
  --colorful-linear-gradient: radial-gradient(circle at 50% 50%, #df4141, #b90404 193%);
  // 红色渐变对应金色渐变的left
  --colorful-linear-gradient-left: radial-gradient(circle at 50% 50%, #df4141, #b90404 193%);
  // 渐变字体颜色
  --colorful-color: #fdf7ee;
  // 边框颜色
  --colorful-border-color: #b90404;
  // 会员中心高亮颜色
  --member-highlight-color: #b90404;
  // 额度转换按钮
  --transfer-btn-background: radial-gradient(circle at 50% 50%, #df4141, #b90404 193%);
  // 设置块级背景色
  --setting-block-background: #ffffff;
  // 设置块级阴影
  --setting-block-box-shadow: 0 0 20px 3px rgba(200, 200, 200, 0.5);
  // 设置块级渐变
  --setting-block-linear-gradient: radial-gradient(circle at 50% 50%, #df4141, #b90404 193%);
  // 设置块级字体色
  --setting-block-color: #fff;
  // 设置块级二级字体色
  --setting-block-sub-color: #939393;
  // 返回按钮颜色
  --back-btn-color: #b90404;
  // 返回标题色
  --back-title-color: #2d2d2d;
  // 谷歌步骤颜色
  --google-step-color: #2d2d2d;
  // 谷歌步骤颜色
  --google-step-sub-color: #25252b;
  // 谷歌二维码背景色
  --google-block-background-color: #fff;
  // 输入框背景色
  --input-background-color: #f2f2f2;
  // 输入框边框色
  --input-border-color: #f2f2f2;
  // 用户中心 tag标签字体颜色
  --member-tag-color: #2d2d2d;
  // 用户中心 选中tag标签字体颜色
  --member-tag-active-color: #b90404;
  // 用户中心 tag下划线颜色
  --member-tag-bottom-color: #b90404;
  // 时间选择器背景色
  --datepicker-background-color: #ffffff;
  // 表格背景色
  --table-backround-color: #ffffff;
  // 表格主体颜色
  --table-content-backround-color: #fff;
  // 表格线条颜色
  --table-border-color: #e1e1e1;
  // 表格外边框
  --table-border: 1px solid #e1e1e1;
  // 表格字体色
  --table-thead-color: #2d2d2d;
  // 表格字体色
  --table-tbody-color: #2d2d2d;
  // 充值左侧active渐变色
  --fieldset-linear-gradient: linear-gradient(
          to right,
          #b90404 0%,
          #b90404 100%,
  );
  // 充值左侧active边框色
  --fieldset-border-color: #b90404;
  // 交易所卡片背景色
  --coin-market-card-background-color: #222222;
  // 充值引导卡片背景色
  --usdt-guide-background-color: #f3f3f3;
  // 充值引导卡片边框色
  --usdt-guide-border-color: #d4d4d4;
  // 充值金额表按钮背景色
  --amount-list-background-color: #f8f8f8;
  // 充值输入框背景色
  --amount-input-background-color: #f0f0f0;
  // 删除背景色
  --wallet-delete-background-color: #b90404;
  // 添加卡片的背景色
  --wallet-add-background-color: #f4fafb;
  // 账号背景色
  --account-backround-color: #fff;
}
