.dark {
  // app 背景颜色
  --app-background-color: #181818;
  --block-background-color: #2d2d2d;
  // app 背景色
  --app-background-color2: #181818;
  // 一级文字颜色
  --first-color: #bbb;
  // 二级文字颜色
  --secondary-color: #999;
  // 三级文字颜色
  --third-color: #aaaaaa;
  // 全局高亮色
  --highlight-color: #f2d195;
  // 首页分类label色:
  --home-label-color: #f2d195;
  // 阴影
  --base-box-shadow: none;
  // 箭头颜色
  --arrow-color: #444;
  //banner背景色
  --banner-bgc: #181818;
  //用户信息框线条颜色
  --user-info-boder: #1a1a1a;
  //LIVE标签颜色
  --live-tag-color: #f2d195;
  // 联赛组背景色
  --tour-background-color: #1e1e1e;
  //联赛组头部背景色
  --tour-header-bgc: #1e1e1e;
  // 比赛隔行背景颜色
  --match-even-background-color: #252525;
  // 比赛队名颜色
  --match-team-color: #aaa;
  // 投注项的标题颜色
  --option-label-color: #888;
  // 标注文字颜色 (角标)
  --tip-color: #777;
  // 标题栏底边线
  --header-box-shadow: 2px 0 0 2px #121212;
  // 玩法小点颜色
  --carousel-dot-color: #444;
  // 玩法小点背景色
  --carousel-dot-bgc: #aaa;
  // 滚球tab-menu字体颜色
  --tab-menu-color: #bbb;
  // match-info-time颜色
  --matchinfo-time-color: #666;
  // border线条色
  --border-color: #181818;
  // input 背景色
  --input-bgc: #2a2a2a;
  // 偏好设置字体色
  --preference-color: #a8a8aa;
  // 我的注单时间背景色
  --ticket-time-bgc: #141414;
  --timepiker-bgc: transparent;
  // cartitemtotal背景色
  --cartitemtotal-bgc: #252525;
  // cartitemtotal背景色 浅蓝
  --cartitemtotal-bgc-light: #252525;
  // 购物车选项背景色
  --cart-item-bgc: #1e1e1e;
  //购物车选项边框色
  --cart-item-border: rgba(24,24,24,.5);
  //rules color
  --rule-color: #F9F9F9;
  // switch 背景色
  --switch-bgc: #2a2a2a;
  // switch 圆圈颜色
  --switch-circle-bgc: #a8a8aa;
  //icon cross 背景色
  --cross-bgc: rgba(255,255,255,.3);
  //键盘背景色
  --keyboard-bgc: #131313;
  // 键盘数字颜色
  --keyboard-color: #aaaaaa;
  //金额输入框颜色
  --amount-input-bgc: #dddddd;
  //键盘active 背景色
  --key-active-bgc: #242424;
  //键盘active 颜色
  --key-active-color: #f2d195;
  //提现按钮边框
  --withdraw-border: #f2d195;
  //充值按钮背景色
  --cashin-bgc: linear-gradient(to top, #e2b372, #f5d79b, #f5d79b);
  //充值按钮颜色
  --cashin-color: #181818;
  // 会员信息背景色
  --member-bgc: #1e1e1e;
  // 会员后面的背景色
  --member-back: #181818;
  //筛选栏背景色
  --drawer-bgc: #181818;
  //筛选栏比赛按钮
  --drawer-button-bgc: #181818;
  //筛选栏比赛边框
  --drawer-button-border: 1px solid #2a2a2a;
  //投注loading背景色
  --result-loading-bgc: rgba(30,30,30,.9);
  //详情页market背景色
  --detail-market-bgc: #1e1e1e;
  // 底部颜色
  --tabbar-bgc: #111111;
  // 底部颜色
  --tabbar-color: rgba(102, 102, 102, 0.8);
  // 头部背景色
  --header-bgc: #181818;
  // tab-bar文字颜色
  --tab-bar-color: rgba(108,108,108,.8);
  // 会员中心卡片背景色
  --member-card--background-color: linear-gradient(125deg, #540e38 -1%, #3a376b 69%, #244e7f 112%, #0b1a2b 112%);
  // 会员中心卡片颜色
  --member-card-color: #fff;
  // 红色渐变对应金色渐变的
  --colorful-linear-gradient: linear-gradient(to right, #e2b271 0%, #f6d99d);
  // 红色渐变对应金色渐变的left
  --colorful-linear-gradient-left: linear-gradient(to left, #e2b271 0%, #f6d99d);
  // 渐变字体颜色
  --colorful-color: #5c3301;
  // 边框颜色
  --colorful-border-color: #deb682;
  // 会员中心高亮颜色
  --member-highlight-color: #ebba73;
  // 额度转换按钮
  --transfer-btn-background: linear-gradient(to bottom, #61616f, #32323c);
  // 设置块级背景色
  --setting-block-background: rgba(30, 30, 36, 0.4);
  // 设置块级阴影
  --setting-block-box-shadow: none;
  // 设置块级渐变
  --setting-block-linear-gradient: linear-gradient(to top, #232323, #333333);
  // 设置块级字体色
  --setting-block-color: #e1e1e1;
  // 设置块级二级字体色
  --setting-block-sub-color: #a8a8aa;
  // 返回按钮颜色
  --back-btn-color: #e1e1e1;
  // 返回标题色
  --back-title-color: #ededed;
  // 谷歌步骤颜色
  --google-step-color: #e5e5e5;
  // 谷歌步骤颜色
  --google-step-sub-color: #b4b4b8;
  // 谷歌二维码背景色
  --google-block-background-color: #2a2a32;
  // 输入框背景色
  --input-background-color: #1f1f1f;
  // 输入框边框色
  --input-border-color: #434343;
  // 用户中心 tag标签字体颜色
  --member-tag-color: #666666;
  // 用户中心 选中tag标签字体颜色
  --member-tag-active-color: #e1e1e1;
  // 用户中心 tag下划线颜色
  --member-tag-bottom-color: #f3b867;
  // 时间选择器背景色
  --datepicker-background-color: #1e1e24;
  // 表格背景色
  --table-backround-color: rgba(30, 30, 36, 0.4);
  // 表格主体颜色
  --table-content-backround-color: #2b2b2d;
  // 表格线条颜色
  --table-border-color: #25252b;
  // 表格外边框
  --table-border: none;
  // 表格字体色
  --table-thead-color: #e1e1e1;
  // 表格字体色
  --table-tbody-color: #a8a8a8;
  // 充值左侧active渐变色
  --fieldset-linear-gradient: linear-gradient(
          to right,
          #3b3b42 0%,
          #e4b676 49%,
          #3b3b42 99%,
  );
  // 充值左侧active边框色
  --fieldset-border-color:  #3b3b42;
  // 交易所卡片背景色
  --coin-market-card-background-color: #222222;
  // 充值引导卡片背景色
  --usdt-guide-background-color: #25252b;
  // 充值引导卡片边框色
  --usdt-guide-border-color: #3b3b42;
  // 充值金额表按钮背景色
  --amount-list-background-color: #1f1f1f;
  // 充值输入框背景色
  --amount-input-background-color: #222222;
  // 钱包删除按钮背景色
  --wallet-delete-background-color: #6f6f71;
  // 添加卡片的背景色
  --wallet-add-background-color: transparent;
  // 账号背景色
  --account-backround-color: linear-gradient(137deg, #181818 13%, #031828 106%);
}
